@CHARSET "UTF-8";


.panelBar, .toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span, .pagination, .pagination li.hover, .pagination li.hover a, .pagination li span, .pagination li.disabled span span, .panelBar .line, .pagination li.jumpto, .pagination li.jumpto .goto {
    background: url("./images/grid/grid.png") no-repeat scroll 0 0 transparent;
}
.panelBar {
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px 0;
    display: block;
    height: 25px;
    overflow: hidden;
    border-color: #FD53AB;
}
.panelBar li {
    display: block;
    float: left;
    height: 23px;
    overflow: hidden;
    padding: 0 0 0 5px;
}
.panelBar .toolBar li.line {
    background-position: 5px -200px;
    display: block;
    overflow: hidden;
    padding: 0;
    text-indent: -1000px;
    width: 12px;
}
.panelBar li.hover a {
    background-position: 100% -150px;
}
.panelBar ul {
    padding: 1px;
}
.panelBar li {
    display: block;
    float: left;
    height: 23px;
    overflow: hidden;
    padding: 0 0 0 5px;
}
.panelBar li.hover {
    background-position: 0 -100px;
}
.panelBar li.hover a {
    background-position: 100% -150px;
}
.panelBar .toolBar li, .panelBar .toolBar li.hover {
    background-position: 0 -100px;
    padding: 0 0 0 5px;
}
.panelBar .toolBar a, .panelBar .toolBar li.hover a {
    background-position: 100% -150px;
    display: block;
    float: left;
    overflow: hidden;
    padding: 0 5px 0 0;
    text-decoration: none;
}
.panelBar .toolBar span, .panelBar .toolBar li.hover span {
    cursor: pointer;
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    padding: 0 0 0 20px;
}
.panelBar .toolBar a.add span {
    background-position: 0 -696px;
}
.panelBar .toolBar a.delete span {
    background-position: 0 -746px;
}
.panelBar .toolBar a.edit span {
    background-position: 0 -796px;
}
.panelBar .toolBar a.icon span {
    background-position: 0 -846px;
}
.panelBar .toolBar li.line {
    background-position: 5px -200px;
    display: block;
    overflow: hidden;
    padding: 0;
    text-indent: -1000px;
    width: 12px;
}
.panelBar .pages {
    float: left;
    height: 21px;
    overflow: hidden;
    padding: 2px 5px;
}
.panelBar .pages span {
    float: left;
    line-height: 21px;
}
.panelBar .pages select {
    float: left;
    font-size: 12px;
    margin: 0 3px;
}
.pagination {
    background-position: 0 -199px;
    float: right;
    padding-left: 7px;
}
.pagination li, .pagination li.hover {
    background-position: 0 -100px;
    padding: 0 0 0 5px;
}
.pagination a, .pagination li.hover a, .pagination li span {
    background-position: 100% -150px;
    display: block;
    float: left;
    line-height: 23px;
    padding: 0 5px 0 0;
    text-decoration: none;
}
.pagination li.selected a {
    color: #FF0000;
    font-weight: bold;
}

/* Pages default */
.page .pageHeader, .formBar { border-color:#fd53ab; background:#ebf0f5 url(../default/images/pageHeader_bg.png) repeat-x;}
.page .searchBar label { color:#183152;}