@charset "utf-8";
/*=============================默认===========================*/
* {
	margin: 0px;
	padding: 0px;
	border: none;
}

body {
	margin: 0px;
	padding: 0px;
	border: none;
	background: #ebebeb url(../images/index_bg.png) repeat-x;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}

div,span,a,ul,ul li,p,h1,h2,h3,h4,h5,table,table tr td,img,form,input {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}

ul {
	list-style: none;
}

input,select,checkbox {
	outline: none;
}

a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
	font-family: "宋体";
	line-height: 20px;
}

a:hover {
	color: #000;
}

a.a_nonce {
	color: #06C;
	font-weight: bold;
}

.clear {
	clear: both;
}

.f_right {
	float: right;
}

.f_left {
	float: left;
}

#logo {
	float: left;
	width: 176px;
	height: 121px;
	padding: 14px 0px 8px 10px;
}

#tDate {
	float: right;
	background: url(../images/index_tm.png) 0px 112px no-repeat;
	padding: 110px 10px 0px 20px;
}

#sm_logo {
	float: left;
	width: 217px;
	height: 55px;
	padding: 10px 0px 8px 10px;
}

#tDate_2 {
	float: right;
	background: url(../images/date.png) 0px 42px no-repeat;
	padding: 40px 10px 0px 20px;
}

.margin_10 {
	margin: 10px auto;
}

.padding5 {
	padding: 5px;
}

.padding_l5 {
	padding: 0px 5px;
}

.padding_t5 {
	padding: 5px 0px;
}

.pd_lt {
	padding: 5px 0px 0px 5px;
}

.margin_5 {
	margin: 5px 0px;
}

.wid100 {
	width: 250px;
}

.border_bmt {
	border-bottom: 1px dashed #cccccc;
}

.over {
	overflow: hidden;
}

.password {
	padding-left: 20px;
	background: url(../images/lock.png) 0px 0px no-repeat;
	width: 150px;
	float: left;
	margin-bottom: 5px;
}

.align_right {
	background: #eae7af;
	padding: 3px 10px 3px 10px;
	color: #000000;
}

.align_width {
	float: left;
	width: 500px;
}
/*=============================外层容器===========================*/
.top_wrapper {
	width: 1016px;
	margin: 0px auto;
	height: 28px;
	overflow: hidden;
	padding-right: 10px;
} /*头部层*/
#content_bg {
	width: 1026px;
	background: url(../images/content_bg.png) no-repeat;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
} /*背景内容层*/
.content_wrap {
	border: 1px solid #cccccc;
	background: #fff;
} /*背景外层*/
.content_toggle {
	border: 1px solid #cccccc;
	background: #fff;
} /*伸缩背景外层*/
#cont_leftwrap {
	width: 250px;
	float: left;
	padding: 0px 10px 10px 0px;
} /*左边外层*/
#cont_rightwrap {
	width: 765px;
	float: left;
	padding: 0px 0px 10px 0px;
	min-height: 400px;
}

/*图表页面  左边导航 与 右边图表层*/
#cont_leftwrap2 {
	float: left;
	padding: 10px 10px 10px 0px;
	width: 215px;
}

#cont_rightwrap2 {
	float: left;
	padding: 0px 0px 10px 0px;
	width: 800px;
	min-height: 400px;
}

.con_top {
	background: url(../images/index_blockbg.png) repeat-x;
	height: 25px;
	text-align: center;
	overflow: hidden;
} /*模块设置顶部层*/
.con_title {
	font-weight: bold;
	color: #5297dc;
	line-height: 25px;
	float: left;
	padding-left: 20px;
} /*模块标题层*/
.setup {
	float: right;
	padding: 5px 10px 0px 0px;
	width: 50px;
} /*设置层*/
.setup a {
	display: block;
	color: #666666;
	background: url(../images/index_blockbt.png) 40px 7px no-repeat;
}

.setup a:hover {
	text-decoration: none;
}

.cus_wrapper {
	padding: 5px 10px;
	background: #fff;
	min-height: 300px;
} /*客户列表搜索层*/
.cus_search {
	background: #ededed;
	padding: 2px 5px;
	margin-bottom: 5px;
}

/*=============================头部===========================*/
#address {
	background: url(../images/index_dr.png) 0px 0px no-repeat;
	float: left;
	margin: 5px 0px 0px 10px;
	padding-left: 25px;
} /*所在位置*/
#homePage {
	background: url(../images/back_ic2.png) 0px 0px no-repeat;
	float: right;
	margin: 5px 0px 0px 10px;
	padding-left: 20px;
	width: 25px;
} /*首页*/

/*
#subject {
	background: url(../images/index_co.png) 0px 0px no-repeat;
	float: right;
	margin: 5px 0px 0px 10px;
	padding-left: 20px;
	width: 25px;
}
*/
#setup {
	background: url(../images/index_cor.png) 0px 0px no-repeat;
	float: right;
	margin: 5px 0px 0px 10px;
	padding-left: 20px;
	width: 50px;
} /*设置*/
#help {
	background: url(../images/index_hp.png) 0px 0px no-repeat;
	float: right;
	margin: 5px 0px 0px 10px;
	padding-left: 20px;
	width: 25px;
} /*帮助*/
#logout {
	background: url(../images/index_ur.png) 0px 0px no-repeat;
	float: right;
	margin: 5px 0px 0px 10px;
	padding-left: 20px;
	width: 25px;
} /*注销*/

/*=============================导航菜单===========================*/
#l_bg {
	background: url(../images/menu_left.png) no-repeat;
	width: 15px;
	height: 31px;
	position: absolute;
	left: 0px;
}

#r_bg {
	background: url(../images/menu_right.png) no-repeat;
	width: 15px;
	height: 31px;
	position: absolute;
	right: 0px;
}

.crmMenu {
	font-family: "宋体";
	position: relative;
	margin: 0 auto;
	font-size: 12px;
	width: 1026px;
	height: 31px;
	background: url(../images/menu_bg.png) repeat-x;
	z-index: 1
}

.crmMenu ul li a,.crmMenu ul li a:visited {
	display: block;
	text-decoration: none;
	width: 110px;
	text-align: center;
	color: #666666;
	border: none;
	line-height: 31px;
	font-size: 12px;
	overflow: hidden;
}

.crmMenu ul {
	padding-left: 260px;
	margin: 0;
	list-style-type: none;
	width: 766px;
}

.crmMenu ul li {
	float: left;
	position: relative;
}

.crmMenu ul li ul {
	display: none;
}

.crmMenu ul li:hover a {
	background: url(../images/menu_hover.png) repeat-x;
	color: #000000;
}

.crmMenu ul li:hover ul {
	display: block;
	position: absolute;
	left: -260px;
	top: 31px;
	width: 100px;
}

.crmMenu ul li:hover ul li a.hide {
	background: #edf7fb;
	color: #666666;
}

.crmMenu ul li:hover ul li:hover a.hide {
	color: #333333;
}

.crmMenu ul li:hover ul li ul {
	display: none;
}

.crmMenu ul li:hover ul li a {
	display: block;
	background: #edf7fb;
	color: #000;
	border-bottom: 1px dashed #cccccc;
}

.crmMenu ul li:hover ul li a:hover {
	background: #fff9b2;
	color: #333333;
	font-weight: bold;
}

.crmMenu ul li:hover ul li:hover ul {
	display: block;
	position: absolute;
	top: 0;
	left: -148px;
}

.crmMenu ul li:hover ul li:hover ul li a:hover {
	background: #fff9b2;
	color: #333333;
	font-weight: bold;
}

/*=============================搜索视图==========================*/
.int_text {
	border: 1px solid #cccccc;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #666666;
	margin: 0px 10px 0px 0px;
	width: 150px;
}

/*============================页尾信息===========================*/
#footer {
	margin: 20px auto;
	text-align: center;
	background: url(../images/footer_bg.png) left bottom repeat-x;
	padding-bottom: 5px;
}

#footer ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0px auto 7px auto;
	width: 300px;
}

#footer ul li {
	float: left;
	border-left: 1px solid #666666;
	padding-right: 10px;
	line-height: 14px;
}

#footer ul li a {
	display: block;
	padding-left: 10px;
	line-height: 14px;
}

#footer ul li#foot_li {
	border: none;
}

/*============================角色用户模块===========================*/
#user_wrap {
	background: #fff;
	padding: 3px;
	overflow: hidden;
} /*外层*/
.user_line {
	float: left;
	padding: 0px 10px;
}

ul#user_ul {
	width: 125px;
	padding: 10px 0px 5px 0px;
}

ul#user_ul li {
	padding: 1px 0px;
	border-bottom: 1px dashed #cccccc;
}

/*============================搜索模块===========================*/
.sear_wrap {
	padding: 5px 10px;
	background: #fff;
}

#sear_bg {
	background: url(../images/search_bg.png) 0px 5px no-repeat;
	width: 225px;
	height: 30px;
	padding: 8px 0px 3px 3px;
}

#int_search {
	width: 190px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #fff;
}

#f_rt {
	width: 80px;
	float: right;
	padding: 0px 4px 0px 0px;
}

/*============================表单样式===========================*/
.g_button {
	background: url(../images/index_button.png) no-repeat;
	width: 57px;
	line-height: 20px;
	height: 20px;
	color: #333333;
	text-align: center;
	font-size: 12px;
} /*灰色按钮*/
.cus_select {
	border: 1px solid #cccccc;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #666666;
	margin: 1px 10px 0px 0px;
	width: 150px;
} /*下拉列表*/
.next_selt {
	padding: 0px;
	border: 1px solid #cccccc;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #666666;
	width: 80px;
} /*next_select*/
.b_button {
	background: url(../images/index_bbut.png) no-repeat;
	width: 80px;
	height: 22px;
	line-height: 22px;
	color: #333333;
	text-align: center;
} /*蓝色按钮*/
.r_button {
	background: url(../images/but_bg.png) no-repeat;
	line-height: 20px;
	height: 20px;
	text-align: center;
	width: 137px;
	display: block;
} /*灰色规则按钮*/
.rule_button {
	width: 137px;
	float: right;
}
/*灰色规则容器
.rule_button2 {
	width: 93px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: url(../images/rule_button.png) 0px 0px no-repeat;
}*/
.rule_button2 {
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #e6eff7;
	border: 1px solid #cde1f5;
	padding: 0px 8px;
}

.title_button {
	width: 55px;
	height: 20px;
	line-height: 20px;
	background: url(../images/title_button.gif) 0px 0px no-repeat;
	color: #333333;
}

.title_button_map {
	width: 89px;
	height: 20px;
	line-height: 20px;
	background: url(../images/title_button_map.png) 0px 0px no-repeat;
	color: #333333;
}

.int_textwrap {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 18px;
	width: 400px;
	margin-right: 3px;
} /*输入框样式*/
.int_textwrap3 {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 80px;
	width: 400px;
} /*输入框样式*/
.int_textwrap2 {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 18px;
	width: 150px;
	padding: 0px 5px;
} 
.int_textwrap5 {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 18px;
	width: 500px;
	padding: 0px 5px;
}
/*输入框样式*/
.int_textwrap4 {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 18px;
	width: 80px;
	padding: 0px 5px;
} /*输入框样式*/
.int_textwrap_float {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 18px;
	width: 300px;
	margin-right: 3px;
	float: left;
} /*输入框样式*/
.rule_chickbox {
	border: none;
	outline: none;
}

.ch_textarea {
	border: 1px solid #cccccc;
	width: 180px;
	height: 220px;
	font-size: 12px;
	color: #333333;
	line-height: 20px;
} /*规则选择框*/
/*============================表格样式===========================*/
table.table_style {
	border: 1px solid #cccccc;
	border-collapse: collapse;
}

table.table_style tr.tr_bg {
	background: url(../images/table_titlebg.png) repeat-x;
	line-height: 24px;
	border: 1px solid #cccccc;
	color: #333333;
}

table.table_style tr td {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	text-align: center;
}

table.table_style tr.t_bg {
	background: #ededed;
}

table.table_style tr.t_edition {
	background: #eef6f9;
}

/*============================客户样式===========================*/
.text_wrap {
	padding: 3px 0px 5px 0px;
	overflow: hidden;
}

.text_left {
	float: left;
	width: 350px;
}

.text_right {
	width: 630px;
	height: 400px;
	background: #fff;
	/*border: 1px solid #cccccc;*/
	float: right;
}

.con_text {
	width: 340px;
	float: left;
	margin-left: 10px;
	padding-top: 2px;
	overflow: hidden;
	border-bottom: 1px dashed #cccccc;
}

.con_text_more {
	border-bottom: 1px dashed #cccccc;
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	width: 480px;
}

.con_left {
	float: left;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	width: 100px;
	overflow: hidden;
}

.con_right {
	text-align: left;
	float: left;
	width: 230px;
	overflow: hidden;
}

/*============================tab===========================*/
.hidden {
	display: none;
}

.scrolldoorFrame {
	overflow: hidden;
}

.scrollUl {
	overflow: hidden;
	height: 35px;
	border-bottom: 5px solid #fff;
}

.scrollUl li {
	float: left;
}

.bor03 {
	padding: 5px 2px;
	min-height: 150px;
	height: auto;
	background: #fff;
}

.blue_line {
	height: 5px;
	background: #bad4e6;
	margin-top: -18px;
	margin-left: 2px;
	overflow: hidden;
}

.sd01 {
	cursor: pointer;
	background: url(../images/tab_a1.gif) no-repeat;
	margin-left: 2px;
	text-align: center;
	font-size: 12px;
	width: 78px;
	line-height: 27px;
	position: relative;
}

.sd02 {
	cursor: pointer;
	background: url(../images/tab_hover.gif) no-repeat;
	margin-left: 2px;
	text-align: center;
	font-size: 12px;
	width: 78px;
	line-height: 22px;
}

/*============================用户类信息===========================*/
.ord_title {
	background: url(../images/ic_1.png) 0px 2px no-repeat;
	padding: 0px 0px 1px 20px;
	border-bottom: 1px dashed #cccccc;
	line-height: 20px;
}
/*订单信息*/
.ord_title2 {
	background: url(../images/ic_2.png) 0px 2px no-repeat;
	padding: 0px 0px 1px 20px;
	border-bottom: 1px dashed #cccccc;
	line-height: 20px;
}
/*收货信息*/
.ord_title3 {
	background: url(../images/ic_3.png) 0px 2px no-repeat;
	padding: 0px 0px 1px 20px;
	border-bottom: 1px dashed #cccccc;
	line-height: 20px;
}
/*商品详细信息*/
.ord_ic {
	width: 210px;
	float: left;
	background: url(../images/ic_5.png) 0px 2px no-repeat;
	padding: 0px 0px 1px 20px;
	margin-right: 10px;
}
/*礼品卡金额*/
.ord_ic2 {
	width: 210px;
	float: left;
	background: url(../images/ic_7.png) 0px 2px no-repeat;
	padding: 0px 0px 1px 20px;
	margin-right: 10px;
}
/*运费金额*/
.ord_ic3 {
	width: 210px;
	float: left;
	background: url(../images/ic_4.png) 0px 2px no-repeat;
	padding: 0px 0px 1px 20px;
	margin-right: 10px;
}
/*优惠券金额*/
.ord_ic4 {
	width: 210px;
	float: left;
	background: url(../images/ic_6.png) 0px 2px no-repeat;
	padding: 0px 0px 1px 20px;
	margin-right: 10px;
}
/*订单总金额*/
.scroll_title {
	padding: 2px 0px 2px 10px;
	background: #ededed;
	overflow: hidden;
	margin-bottom: 5px;
}

.scroll_title .orderStatistics {
	background: url(../images/cart_put.png) 0px 1px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}

.scroll_title .contact {
	background: url(../images/us_ic2.png) 0px 1px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*收件人*/
.scroll_title .invitationRelationship {
	background: url(../images/cr.png) 0px 1px no-repeat;
	padding: 0px 20px 0px 25px;
	float: left;
}
/*邀请关系*/
.scroll_title .communication {
	background: url(../images/com_ic4.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*沟通*/
.scroll_title .rank {
	background: url(../images/rank_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 15px;
	float: left;
}
/*等级*/
.scroll_title .integral {
	background: url(../images/rank_ic3.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*积分*/
.jewel {
	background: url(../images/rank_ic4.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	width: 60px;
	margin: 0px auto;
}
/*钻石客户*/
.platina {
	background: url(../images/rank_ic5.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	width: 60px;
	margin: 0px auto;
}
/*白金客户*/
.silver {
	background: url(../images/rank_ic6.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	width: 60px;
	margin: 0px auto;
}
/*白银客户*/
.common {
	background: url(../images/rank_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	width: 60px;
	margin: 0px auto;
}
/*普通客户*/
.scroll_title .wallet {
	background: url(../images/gift_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 24px;
	float: left;
}
/*唯品钱包*/
.scroll_title .coupons {
	background: url(../images/gift_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*优惠券*/
.scroll_title .gift {
	background: url(../images/gift_ic3.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*礼品卡*/
.scroll_title .shopCart {
	background: url(../images/shop_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*购物车*/
.scroll_title .payment {
	background: url(../images/shop_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*支付方式*/
.scroll_title .transport {
	background: url(../images/shop_ic3.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*物流方式*/
.scroll_title .returned {
	background: url(../images/shop_ic4.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*退货*/
.scroll_title .replacing {
	background: url(../images/shop_ic5.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*拒收*/
.scroll_title .log_how {
	background: url(../images/how_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*登录方式*/
.scroll_title .browse {
	background: url(../images/how_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*浏览方式*/
.scroll_title .brandKeenDegree {
	background: url(../images/zeal_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*品牌热衷度*/
.scroll_title .categoryKeenDegree {
	background: url(../images/zeal_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*种类热衷度*/
.scroll_title .snapUpBrand {
	background: url(../images/zeal_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*抢购品牌*/
.scroll_title .snapUpCategory {
	background: url(../images/zeal_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*抢购种类*/
.scroll_title .marketing {
	background: url(../images/mar_ic.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*营销活动*/
.scroll_title .recommendedBrands {
	background: url(../images/zeal_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*推荐品牌*/
.scroll_title .recommendedProducts {
	background: url(../images/zeal_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*推荐商品*/
.scroll_title .yearConsumerModel {
	background: url(../images/yearMonetary.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*年消费模型*/
.scroll_title .monthConsumerModel {
	background: url(../images/monthMonetary.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
}
/*月消费模型*/
.rule_title {
	background: url(../images/rule_ic1.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
	border-bottom: 1px solid #cccccc;
}

/*视图制定*/
.rule_vi {
	background: url(../images/rule_ic2.png) 0px 2px no-repeat;
	padding: 0px 20px 0px 20px;
	float: left;
	border-bottom: 1px solid #cccccc;
}
/*规则制定*/
.ch_boxwrap {
	float: left;
	width: 130px;
	overflow: hidden;
}

.yellow {
	color: #F90;
	float: left;
	font-weight: bold;
	padding: 0px 10px 0px 5px;
}
/*============================规则===========================*/
.rule_chickbwrap {
	float: left;
	padding: 3px 5px 0px 0px; *+
	padding: 0px 5px 0px 0px;
}

.rule_wrap {
	background: url(../images/rule_ic3.png) 0px 6px no-repeat #ededed;
	padding-left: 15px;
}

.rule_choose {
	border-top: 1px dashed #cccccc;
	padding: 5px;
	margin-top: 5px;
}

.r_choose {
	background: #ededed;
	line-height: 20px;
}

.r_choose span {
	color: #136fcc;
}

.rule_but {
	padding: 10px 0px;
	background: url(../images/button_line.png) center bottom no-repeat;
	overflow: hidden;
	text-align: center;
}

.rule_search {
	padding: 2px 5px 2px 25px;
	margin-bottom: 5px;
	margin-top: 5px;
	background: url(../images/rule_ic5.png) 2px 4px no-repeat #ededed;
}

.edition_wrap {
	float: left;
	background: url(../images/rule_ic6.png) 2px 3px no-repeat;
	padding: 0px 5px 0px 23px;
}

.edition_wrap2 {
	float: left;
	background: url(../images/rule_ic4.png) 2px 3px no-repeat;
	padding: 0px 5px 0px 23px;
	margin-left: 20px;
}

.edition_chick {
	float: right;
	padding: 5px 5px 0px 0px;
}

.edition_nub {
	background: url(../images/rule_icn.png) 2px 4px no-repeat;
	padding: 0px 0px 0px 20px;
	width: 40px;
	margin: 0px auto;
}

.edi_handle {
	width: 80px;
	margin: 0px auto;
	padding: 2px 0px 0px 0px;
}

.ord_wrap {
	margin: 5px 0px;
	background: #ededed;
	padding: 5px 20px;
	overflow: hidden;
}

.ord_wrap2 {
	margin: 0px;
	background: #fff;
	padding: 2px 20px;
	overflow: hidden;
}

.ord_message {
	width: 400px;
	float: left;
	margin-right: 10px;
	padding: 0px 0px 2px 0px;
}

ul.next {
	width: 260px;
}

ul.next li {
	float: right;
	padding-left: 5px;
}

ul.next li a {
	display: block;
	padding-top: 2px;
}

/*============================营销活动==========================*/
.f_cbox {
	padding: 3px 3px 0px 0px; *+
	padding: 0px 3px 0px 0px;
}

.f_text {
	width: 90px;
	text-align: right;
	padding-right: 10px;
	float: left;
	font-weight: bold;
}

.f_input {
	float: left;
	width: 350px;
}

.f_inputs {
	float: left;
}

.choose_wrap {
	padding: 5px 0px 5px 110px;
	overflow: hidden;
}

.choose_left {
	float: left;
	width: 200px;
	padding: 0px 0px;
}

.choose_titleright {
	background: url(../images/text_indent_remove.png) 60px 2px no-repeat;
	text-align: center;
	padding-bottom: 5px;
}

.choose_titleleft {
	background: url(../images/text_indent.png) 60px 2px no-repeat;
	text-align: center;
	padding-bottom: 5px;
}

.choose_wp {
	text-align: center;
}

.choose_middle {
	float: left;
	text-align: center;
	width: 50px;
	padding: 80px 0px 0px 0px;
}

.ch_left a {
	display: block;
	width: 50px;
}

.peo_title {
	background: url(../images/us_ic2.png) 0px 7px no-repeat;
	padding: 5px 0px 5px 20px;
}

.blue {
	color: #06C;
	font-weight: bold;
}

.bg_gray {
	background: #ededed;
}

.popedom {
	border: 1px solid #cccccc;
	width: 650px;
	margin: 30px auto;
	background: url(../images/qu_ic.png) 25px 48px no-repeat #fff;
	height: 310px;
}

.popedom_title {
	padding: 70px 0px 0px 295px;
}

.popedom_text {
	padding: 30px 0px 0px 320px;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}

.cus_title {
	text-align: center;
	padding: 10px;
	border-bottom: 1px dashed #cccccc;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
} /*结果页面标题*/
.cus_c {
	background: url(../images/ending_ic2.png) 0px 2px no-repeat;
	padding: 0px 0px 10px 20px;
	line-height: 20px;
}

.cus_w {
	background: url(../images/ending_ic1.png) 0px 2px no-repeat;
	padding: 0px 0px 10px 20px;
	line-height: 20px;
}

.choose_left {
	float: left;
	padding-right: 10px;
	width: 300px;
}

.choose_right {
	float: left;
	padding-right: 10px;
	width: 300px;
	background: url(../images/sear_bbg.png) 120px 0px no-repeat;
}

.search_Cwrap {
	width: 140px;
	float: left;
	overflow: hidden;
	padding: 1px 0px 0px 1px; *+
	padding: 0px 0px 0px 1px;
}

.search_Cinput {
	background: #fff;
	border: none;
	width: 140px;
	height: 18px;
	line-height: 18px;
}

.search_Cbut {
	float: left;
	padding: 1px 0px 0px 1px;
}

.choose_clos {
	float: left;
	width: 140px;
}

.choose_but {
	float: left;
	padding: 3px 5px 0px 5px;
}

.ch_Closewrap {
	width: 175px;
	float: left;
	overflow: hidden;
	padding-bottom: 5px;
}

.chart {
	padding: 5px 0px;
	overflow: hidden;
}

.combine_chart {
	border: 1px solid #cccccc;
	padding: 5px 0px;
	overflow: hidden;
}

.combine_style {
	width: 700px;
	margin: 0px auto;
	overflow: hidden;
}

.int_text2 {
	float: left;
	width: 180px;
	padding-left: 125px;
	overflow: hidden;
}

.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
}

.ui-timepicker-div dl dd {
	margin: -25px 0 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

/*============================设置地图值区间==========================*/
.color_wrap {
	width: 1000px;
	margin: 50px auto;
	overflow: hidden;
}

.color_title {
	width: 110px;
	text-align: center;
	float: left;
	font-weight: bold;
}

.color_title img {
	padding: 5px 0px;
}

.color_title {
	width: 110px;
	text-align: center;
	float: left;
	font-weight: bold;
}

.color_bg {
	background: #f2f2f2;
}

.color_bg2 {
	background: #e6e6e6;
}

.int_textwrap4 {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 18px;
	width: 80px;
	padding: 0px 5px;
} /*输入框样式100*/
.col_wp {
	width: 10px;
	float: left;
	text-align: center;
	padding: 0px 2px;
}

/*============================显示公式样式==========================*/
#divFormulaFrame {
	position: relative;
	z-index: 20;
	float: right;
}

.divFormula {
	position: absolute;
	top: 25px;
	right: 0px;
	width: 350px;
}

.divFormula {
	background: #edf7fb;
	color: #666666;
	border: 1px solid #cccccc;
	z-index: 100;
	display: none;
	padding: 10px;
}

.formula {
	display: block;
	background: url(../images/formula.png) no-repeat 1px 1px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 20px;
	width: 50px;
}

/*============================相关性图表页面的样式==========================*/
.f_inputs90 {
	float: left;
	width: 90px;
}

.f_inputs160 {
	float: left;
	width: 160px;
}

.int_textwrap250 {
	border: 1px solid #cccccc;
	line-height: 18px;
	height: 18px;
	width: 200px;
} /*输入框样250式*/
.cor_e5 {
	background: #f4f4f4;
}

.x_bg {
	background: url(images/x_bg.png) repeat-x;
}

.wid800 {
	width: 775px;
	text-align: center;
}

.wid200 {
	width: 190px;
	text-align: center;
	border: 1px solid #cccccc;
	padding: 0px 0px 0px 10px;
	background: #edf7fb;
}

.cus_wrapper1 {
	padding: 5px 10px;
	background: #fff;
} /*客户列表搜索层*/


.bold {
	font-weight: bold;
} /*发送组选择*/
.ch_textarea_big{border:1px solid #cccccc;width:500px;height:200px;font-size:12px;color:#333333;line-height:20px;}/*品牌订阅选择框*/