
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>数字营销平台</title><link rel="shortcut icon" href="../../static/dmp/images/favicon.ico">
    <link href="../../static/dmp/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/select2/select2.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/base.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/create.css" rel="stylesheet" />
</head>
<body>
    <div class="sider">
        <div class="home-menu">
            <a href="index.html">
                <i class="icon icon-home"></i>
            </a>
        </div>
        <div class="main-name">
            数字营销平台
        </div>
        <div class="user clearfix">
            <img src="../../static/dmp/images/header.png" />
            Admin_Super
        </div>
        <ul class="menu">
            <li class="active"><a href="list.html">营销活动</a></li>
            
            <li><a href="activelist.html">活动任务</a></li>
            <li><a href="typelist.html">业务类型</a></li>
        </ul>
        <ul class="menu set-menu">
            <li><a href="taglist.html">会员中心</a></li>
            <li><a href="waylist.html">渠道中心</a></li>
            <li><a href="tmplactive.html">模板中心</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="clearfix navigation">
            <div class="col-xs-12">
                <div id="list-top">
                    <div class="breadcrumb-con">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="icon icon-home"></i></a></li>
                            <li><a href="#">常规业务</a></li>
                            <li><a href="#">促销活动</a></li>
                            <li class="active">创建营销活动</li>
                        </ol>
                        <div class="search-con">
                            <form>
                                <input class="text" type="text" placeholder="快速检索" />
                                <button class="button"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-con">
            <div class="create-content view">
                <div class="createview-con">
                    <div class="clearfix">
                        <div class="">
                            <form class="form-horizontal border" id="main-form">
                                <div class="group-title">申请信息</div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">创建人：</label>
                                    <div class="col-md-2">
                                        <p class="form-control-static">刘建继</p>
                                    </div>
                                    <label class="col-md-1 control-label">部门：</label>
                                    <div class="col-md-2">
                                        <p class="form-control-static">市场部</p>
                                    </div>
                                    <label class="col-md-1 control-label">创建时间：</label>
                                    <div class="col-md-2">
                                        <p class="form-control-static">2013-11-06 11:12:13</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="">
                            <form class="form-horizontal border" id="main-form">
                                <div class="clearfix">
                                    <div class="col-md-7">
                                        <div class="group-title">基本信息</div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="group-title">发送计划</div>    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">当前事件：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">当前事件1</p>
                                    </div>
                                    <label class="col-md-1 control-label">发送计划：</label>
                                    <div class="col-md-4 re">
                                        <p class="form-control-static">发送计划</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">活动名称：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static" style="color:#ff6600;font-weight:bold;">6/25 超级亲子日    100+孕婴童品牌、10万萌动商品正在疯抢 </p>
                                    </div>
                                    <label class="col-md-1 control-label">发送渠道：</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">短信</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">业务类型：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">短信</p>
                                    </div>
                                    <label class="col-md-1 control-label">活动对象：</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">新客</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">活动时间：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">2014-02-19  10:00  ~  2014-02-24  23:59</p>
                                    </div>
                                    <label class="col-md-1 control-label">活动对象：</label>
                                    <div class="col-md-4">
                                        <!--<p class="form-control-static">新客</p>-->
                                        <div style="position:relative;">
                                            <textarea rows="5" class="form-control" style="position:absolute;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">活动目的：</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">活动目的</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">活动描述：</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">活动描述活动描述活动描述活动描述活动描述活动描述活动描述</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">备注：</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static">备注备注备注备注备注备注备注备注备注</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix" id="tab2" style="min-height:250px;">
                        <div>
                            <div class="group-title">目标会员</div>
                            <form class="form-horizontal re">
                                <div class="form-group">
                                    <label class="col-md-1 control-label" style="color:#09f;font-weight:bold;">私密特卖：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">年龄段：25-29岁；   最近购买时间：1-3个月；   最近3个月消费金额： 5000以上；购买过品类： 包箱；购买过品牌：GUCCI； </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label" style="color:#09f;font-weight:bold;">美妆偏好：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">Panzlipan   专场买二赠一    自营排它 银牌以上会员</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label" style="color:#09f;font-weight:bold;">家居常购：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">Panzlipan   专场买二赠一    自营排它 银牌以上会员</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">关系：</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static" style="color:red;">并集</p>
                                    </div>
                                </div>
                                <div class="send-con">
                                    <div class="send-title">预计发送量：</div>
                                    <div class="send-num">1950036</div>
                                    <div class="send-title">过滤人数：</div>
                                    <div class="send-num" style="color:#ff6600;">395</div>
                                    <div class="send-title">实际人数：</div>
                                    <div class="send-num" style="color:#09f;">111</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="group-title">填写或选择模板</div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-1 control-label">模板名称：</label>
                                <div class="col-md-11">
                                    <p class="form-control-static">私密模板</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label">模版描述：</label>
                                <div class="col-md-11">
                                    <p class="form-control-static">模版描述模版描述模版描述模版描述</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label">发送内容：</label>
                                <div class="col-md-10">
                                    <textarea class="form-control time" rows="10" disabled="disabled">123</textarea>
                                </div>
                                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-xs">预览</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="pb20">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12 pt20 examine-text">
                                请填写审批意见:
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea rows="3" class="form-control" placeholder="同意/不同意原因"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="pt20 mybtn pull-left">
                                    <button class="btn btn-success" type="button" id="tag-define-btn">通过</button>
                                    <button class="btn btn-warning mr10" type="button">拒绝</button>
                                    <button class="btn btn-default" type="button">返回</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">保存到模版</h4>
                </div>
                <div class="modal-body">
                    <div id="templateconview">
                        <h1>这是一个模版</h1>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/dmp/plugins/jquery/jquery.js"></script>
    <script src="../../static/dmp/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/dmp/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../../static/dmp/plugins/bootstrap-bootbox/bootbox.js"></script>
    <script src="../../static/dmp/plugins/jquery-validation/1.9.0/jquery.validate.min.js"></script>
    <script src="../../static/dmp/plugins/select2/select2.min.js"></script>
    <script src="../../static/dmp/scripts/app.js"></script><!--[if lt IE 9]><script src="../../static/dmp/plugins/respond/respond.min.js"></script><script src="../../static/dmp/plugins/html5shiv/html5shiv.min.js"></script><![endif]-->
    <script>
        
    </script>
</body>
</html>
