
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>数字营销平台</title><link rel="shortcut icon" href="../../static/dmp/images/favicon.ico">
    <link href="../../static/dmp/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/base.css" rel="stylesheet" />
    <style>
        .edm-label{
            display: inline-block;margin-top:6px;margin-bottom:4px;
        }
        .edm-input{
            display: inline-block;
            width: 400px;
        }
        .edm-file-text{
            display: none;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#create-nav-content" data-offset="400">
<div class="sider">
    <div class="home-menu">
        <a href="index.html">
            <i class="icon icon-home"></i>
        </a>
    </div>
    <div class="main-name">
        数字营销平台
    </div>
    <div class="user clearfix">
        <img src="../../static/dmp/images/header.png" />
        Admin_Super
    </div>
    <ul class="menu">
        <li class="active"><a href="list.html">渠道管理</a></li>
    </ul>
    <ul class="menu set-menu">
        <li><a href="list.html">营销中心</a></li>
        <li><a href="taglist.html">会员中心</a></li>
        <li><a href="tmplactive.html">模板中心</a></li>
    </ul>
</div>
<div class="content">
    <div class="clearfix navigation">
        <div class="col-xs-12">
            <div id="list-top">
                <div class="breadcrumb-con">
                    <ol class="breadcrumb">
                        <li><a href="index.html"><i class="icon icon-home"></i></a></li>
                        <li><a href="#">常规业务</a></li>
                        <li class="active">新建渠道</li>
                    </ol>
                    <div class="search-con">
                        <form>
                            <input class="text" type="text" placeholder="快速检索" />
                            <button class="button"><i class="icon icon-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal create-form" id="main-form">
        <div class="group-title">邮件生成器:</div>
        <div class="form-group">
            <label class="col-md-1 control-label">选择模版：</label>
            <div class="col-md-4">
                <select class="form-control">
                    <option>预售模板</option>
                </select>
                <span class="required">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">邮件标题：</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="title" />
                <span class="required">*</span>
            </div>
            <span class="fontgray help-block">(title标签)</span>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">页面顶部广告：</label>
            <div class="col-md-6">
                <div>
                    <span class="edm-label">图片地址：</span>
                    <input type="text" class="form-control edm-input" />
                    <span class="fontgray">非必填,不填不会显示</span>
                </div>
                <div class="mt10">
                    <span class="edm-label">链接地址：</span>
                    <input type="text" class="form-control edm-input" />
                    <span class="fontgray">非必填</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">主要品牌：</label>
            <div class="col-md-6">
                <div class="edm-file-con">
                    <button type="button" class="btn btn-default btn-up">上传附件</button>
                    <span class="fontgray">非必填,不填不会显示</span>
                    <a href="#">(模版示例)</a>
                </div>
                <div class="mt6 edm-file-text">
                    <span class="edm-file-name">src/main/webapp/WEB-INF/views/edm.html</span>
                    <i class="icon-ok fontblue"></i>
                    <span class="fontblue">上传成功</span>
                    <a href="#" class="fontred file-delete">删除</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">页面中部广告：</label>
            <div class="col-md-6">
                <div>
                    <span class="edm-label">图片地址：</span>
                    <input type="text" class="form-control edm-input" />
                    <span class="fontgray">非必填,不填不会显示</span>
                </div>
                <div class="mt10">
                    <span class="edm-label">链接地址：</span>
                    <input type="text" class="form-control edm-input" />
                    <span class="fontgray">非必填</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">主要品牌：</label>
            <div class="col-md-6">
                <div class="edm-file-con">
                    <button type="button" class="btn btn-default btn-up">上传附件</button>
                    <span class="fontgray">非必填,不填不会显示</span>
                    <a href="#">(模版示例)</a>
                </div>
                <div class="mt6 edm-file-text">
                    <span class="edm-file-name">src/main/webapp/WEB-INF/views/edm.html</span>
                    <i class="icon-ok fontblue"></i>
                    <span class="fontblue">上传成功</span>
                    <a href="#" class="fontred file-delete">删除</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">更多品牌ID：</label>
            <div class="col-md-6">
                <div class="edm-file-con">
                    <button type="button" class="btn btn-default btn-up">上传附件</button>
                    <span class="fontgray">非必填,不填不会显示</span>
                    <a href="#">(模版示例)</a>
                </div>
                <div class="mt6 edm-file-text">
                    <span class="edm-file-name">src/main/webapp/WEB-INF/views/edm.html</span>
                    <i class="icon-ok fontblue"></i>
                    <span class="fontblue">上传成功</span>
                    <a href="#" class="fontred file-delete">删除</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">页面底部广告：</label>
            <div class="col-md-6">
                <div>
                    <span class="edm-label">图片地址：</span>
                    <input type="text" class="form-control edm-input" />
                    <span class="fontgray">非必填,不填不会显示</span>
                </div>
                <div class="mt10">
                    <span class="edm-label">链接地址：</span>
                    <input type="text" class="form-control edm-input" />
                    <span class="fontgray">非必填</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-9 mybtn pt20">
                <button class="btn btn-success">生成模版</button>
                <button class="btn btn-default">预览</button>
            </div>
        </div>
    </form>

</div>

<form class="hide" id="upload-form" method="post" enctype="multipart/form-data">
    <input type="file" name="up" id="up" />
</form>

<script src="../../static/dmp/plugins/jquery/jquery.js"></script>
<script src="../../static/dmp/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/dmp/plugins/jquery-validation/1.9.0/jquery.validate.min.js"></script>
<script src="../../static/dmp/scripts/app.js"></script>
<script src="../../static/dmp/plugins/bootstrap-bootbox/bootbox.js"></script>
<script src="../../static/dmp/plugins/jquery.form/jquery.form.js"></script>
<script>
    !function () {

        //验证
        $("#main-form").validate({
            rules: {
                title: {
                    required: true
                }
            },
            messages: {
                title: {
                    required: "请输入邮件标题"
                }
            }
        });

        $(".btn-up").click(function () {
            $("#up").click().data("target",this);
        });

        $("#up").change(function(){
            target=$($(this).data("target"));
            $("#upload-form").ajaxSubmit(function (result) {
                $("#up").val("");
                target.parent().hide().next().show();
            });
        });

        $(".file-delete").click(function () {
            $(".edm-file-con").show().next().hide();
            return false;
        })


    }();
</script>
</body>
</html>
