<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>数字营销平台</title><link rel="shortcut icon" href="../../static/dmp/images/favicon.ico">
    <link href="../../static/dmp/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/jquery-jqgrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/base.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/setting.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/tag.css" rel="stylesheet" />
</head>
<body>
    <div class="sider">
        <div class="home-menu">
            <a href="index.html">
                <i class="icon icon-home"></i>
            </a>
        </div>
        <div class="main-name">
            数字营销平台
        </div>
        <div class="user clearfix">
            <img src="../../static/dmp/images/header.png" />
            Admin_Super
        </div>
        <ul class="menu">
            <li><a href="setting.html">用户管理</a></li>
            <li><a href="rolemanage.html">角色管理</a></li>
            <li><a href="rolemenu.html">菜单管理</a></li>
            <li class="active"><a href="menubutton.html">按钮管理</a></li>
            <li><a href="roleedit.html">权限配置</a></li>
            <li><a href="rolewarning.html">权限异常</a></li>
        </ul>
        <ul class="menu set-menu">
            <li><a href="list.html">营销中心</a></li>
            <li><a href="taglist.html">会员中心</a></li>
            <li><a href="tmplactive.html">模板中心</a></li>
            <li><a href="waylist.html">渠道中心</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="clearfix">
            <div class="col-xs-12">
                <div id="list-top">
                    <div class="breadcrumb-con">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="icon icon-home"></i></a></li>
                            <li><a href="#">常规业务</a></li>
                            <li><a href="#">系统配置</a></li>
                            <li class="active">功能按钮</li>
                        </ol>
                        <div class="search-con">
                            <form>
                                <input class="text" type="text" placeholder="快速检索" />
                                <button class="button"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="content-title clearfix mb20">
                        <span class="title fontblue">功能按钮</span>
                        <div class="group-small clearfix">
                            <div class="dropdown" style="display:inline-block;">
                                <button class="btn btn-warning btn-sm" data-toggle="dialog" data-target="#dialog-add">新建</button>
                                <a role="button" class="btn btn-default btn-sm" data-toggle="dropdown" href="#">状态 <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a tabindex="-1" href="#">状态1</a></li>
                                    <li><a tabindex="-1" href="#">状态2</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="data" class="ui-jqgrid"></table>
                <div id="pager"></div>
            </div>
        </div>

    </div>

    <div class="main-dialog" id="dialog-add">
        <div class="event-manage">
            <div class="col-xs-12">
                <div class="event-top clearfix">
                    <div class="event-icon">
                        <i class="icon icon-reorder"></i>
                    </div>
                    <div class="title">
                        新建按钮
                    </div>
                </div>
                <div class="pt20">
                    <form class="form-horizontal" id="main-form" action="#">
                        <input type="hidden" value="11" />
                        <div class="form-group">
                            <label class="control-label col-xs-2">按钮名称：</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" placeholder="请输入..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">分类：</label>
                            <div class="col-xs-10 re" id="movecon">
                                <input type="text" class="form-control" data-toggle="con" data-target="#movecon" placeholder="请选择..." />
                                <div class="movecontent" style="left:15px;top:0;">
                                    <div class="clearfix">
                                        <div class="moveinput">
                                            <input type="text" class="form-control" id="newtype" placeholder="搜索或新建标签分类" />
                                        </div>
                                        <div class="movebtn">
                                            <button class="btn btn-warning" disabled type="button" id="newtypebtn">新建</button>
                                        </div>
                                    </div>
                                    <div class="movetagcon" id="movetagcon">
                                        <div class="tagdir clearfix"><div class="tagdir-value">固有标签123</div><i class="icon-edit"></i></div>
                                        <div class="tagdir clearfix"><div class="tagdir-value">自建标签</div><i class="icon-edit"></i></div>
                                        <div class="tagdir clearfix"><div class="tagdir-value">固有标签</div><i class="icon-edit"></i></div>
                                        <div class="tagdir clearfix"><div class="tagdir-value">自建标签</div><i class="icon-edit"></i></div>
                                        <div class="tagdir clearfix"><div class="tagdir-value">固有标签</div><i class="icon-edit"></i></div>
                                        <div class="tagdir clearfix"><div class="tagdir-value">自建标签</div><i class="icon-edit"></i></div>
                                        <div class="tagdir clearfix"><div class="tagdir-value">固有标签</div><i class="icon-edit"></i></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">Action操作：</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" placeholder="请输入..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right mybtn mr15">
                                <button class="btn btn-success">保存</button>
                                <button class="btn btn-default" type="button" data-toggle="dialog-close">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="../../static/dmp/plugins/jquery/jquery.js"></script>
    <script src="../../static/dmp/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/dmp/plugins/bootstrap-bootbox/bootbox.js"></script>
    <script src="../../static/dmp/plugins/jquery-mockjax/jquery.mockjax.js"></script>
    <script src="../../static/dmp/plugins/jquery-jqgrid/jquery.jqGrid.js"></script>
    <script src="../../static/dmp/scripts/app.js"></script><!--[if lt IE 9]><script src="../../static/dmp/plugins/respond/respond.min.js"></script><script src="../../static/dmp/plugins/html5shiv/html5shiv.min.js"></script><![endif]-->
    <script>
        !function () {

            //模拟ajax
            $.mockjax({
                url: "test.php",
                type: "post",
                responseTime: 0,
                responseText: JSON.stringify({ "page": 1, "totalPage": 1, "totalCount": 888, "rows": [{ "id": 0, "cell": ["1", "向导式创建", "TOOLBAR_GUIDE", "module_guide_create()", "启用"] }, { "id": 1, "cell": ["1", "向导式创建", "TOOLBAR_GUIDE", "module_guide_create()", "启用"] }, { "id": 2, "cell": ["2", "向导式创建", "TOOLBAR_GUIDE", "module_guide_create()", "启用"] }, { "id": 3, "cell": ["3", "向导式创建", "TOOLBAR_GUIDE", "module_guide_create()", "启用"] }, { "id": 4, "cell": ["4", "向导式创建", "TOOLBAR_GUIDE", "module_guide_create()", "启用"] }, { "id": 5, "cell": ["5", "向导式创建", "TOOLBAR_GUIDE", "module_guide_create()", "启用"] }, { "id": 6, "cell": ["6", "向导式创建", "TOOLBAR_GUIDE", "module_guide_create()", "启用"] }] })
            });

            //jqGrid配置
            $("#data").jqGrid({
                url: 'test.php',
                datatype: "json",
                mtype: "post",
                multiselect: true,
                multiselectWidth: 30,
                height: $(window).height() - $("#list-top").height() - 88,
                width: $(".content").width() - 30,
                rowNum: 40,
                rowList: [20, 40, 80],
                colNames: ['ID', '按钮名称', '按钮编码', 'Action操作', '状态'],
                colModel: [
                    { name: "id", sortable: true },
                    {},
                    {},
                    {},
                    {}
                ],
                pager: "#pager",
                viewrecords: true,
                altRows: true
            });


            //删除按钮
            $("#role-delete").click(function () {
                bootbox.confirm("您确定要删除吗?", function (result) {
                    if (result) {
                        //dosomething
                    }
                });
            });

            //新建标签
            $("#newtypebtn").click(function () {
                $("#tagtype").val($("#newtype").val());
                $("#newtype").val("");
                app.hidecon($("#movecon"));
            });

            //修改标签
            $(document).on("click", ".icon-edit", function () {
                $(this).parent().prepend('<input type="text" value="' + $(this).siblings(".tagdir-value").text() + '" class="form-control tag-edit-input" /><i class="icon-ok"></i>').addClass("tag-edit");
                return false;
            });

            //修改输入框点击事件
            $(document).on("click", ".tag-edit-input", function () {
                return false;
            });

            $(document).on("keydown", ".tag-edit-input", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });

            $(document).on("click", ".icon-ok", function (e) {
                $(this).siblings(".tagdir-value").text($(this).siblings(".tag-edit-input").val()).parent().removeClass("tag-edit");
                $(this).siblings(".tag-edit-input").remove().end().remove();

                return false;
            });

            $("#newtype").on("keyup", function (e) {
                var _this = $(this);
                $("#movetagcon").find(".tagdir").each(function (index, ele) {
                    ele = $(ele).show();
                    if (ele.text().indexOf(_this.val()) == -1) {
                        ele.hide();
                    }
                });

                var tempFlag = false;
                $("#movetagcon .tagdir:visible").each(function (index, ele) {
                    if ($(ele).text() == _this.val()) {
                        tempFlag = true;
                    }
                });
                if (tempFlag) {
                    $("#newtypebtn").prop("disabled", "disabled");
                } else {
                    $("#newtypebtn").removeAttr("disabled");
                }
            });
        }();
    </script>
</body>
</html>
