<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>数字营销平台</title>
    <link rel="shortcut icon" href="../../static/dmp/images/favicon.ico">
    <link href="../../static/dmp/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/select2/select2.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/base.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/tag.css" rel="stylesheet" />
</head>
<body>
    <div class="sider">
        <div class="home-menu">
            <a href="index.html">
                <i class="icon icon-home"></i>
            </a>
        </div>
        <div class="main-name">
            数字营销平台
        </div>
        <div class="user clearfix">
            <img src="../../static/dmp/images/header.png" />
            Admin_Super
        </div>
        <ul class="menu">
            <li class="active"><a href="taglist.html">标签管理</a></li>
            <li><a href="tagmanage.html">指标管理</a></li>
        </ul>
        <ul class="menu set-menu">
            <li><a href="list.html">营销中心</a></li>
            <li><a href="tmplactive.html">模板中心</a></li>
            <li><a href="waylist.html">渠道中心</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="clearfix">
            <div class="col-xs-12">
                <div id="list-top">
                    <div class="breadcrumb-con">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="icon icon-home"></i></a></li>
                            <li><a href="#">工作台</a></li>
                            <li><a href="#">会员标签</a></li>
                            <li class="active">标签详情</li>
                        </ol>
                        <div class="search-con">
                            <form>
                                <input class="text" type="text" placeholder="快速检索" />
                                <button class="button"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="content-title clearfix mb20">
                        <div class="title fontblue">标签详情</div>
                    </div>
                    <div class="clearfix">
                        <div class="col-md-3 col-nd-4">
                            <div class="tageditcon tageditcon-view">
                                <form>
                                    <div class="form-group">
                                        <label class="control-label">名称：</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">分类：</label>
                                        <select class="form-control">
                                            <option>分类1</option>
                                            <option>分类2</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">有效期：</label>
                                        <input type="text" class="form-control time" placeholder="开始时间" />
                                        <input type="text" class="form-control time mt10" placeholder="结束时间" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">状态：</label>
                                        <select class="form-control">
                                            <option>状态1</option>
                                            <option>状态2</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">指派部门：</label>
                                        <select class="form-control" id="depart" multiple>
                                            <option data-more="全读、写和菜单按钮控制权限">指派部门1</option>
                                            <option data-more="全读、写和菜单按钮控制权限">指派部门2</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="mybtn my-no-bo pt20">
                                <button class="btn btn-default">返回</button>
                                <button class="btn btn-success">保存</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-nd-8">
                            <div class="tagtextcon">
                                <div class="tagtextcontainer">
                                    <div class="tag-con tag-con2">
                                        <div class="clearfix">
                                            <strong class="tag-con-title">11111：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <select class="form-control tag-s-b">
                                                        <option>大于</option>
                                                        <option>小于</option>
                                                    </select>
                                                    <input type="text" id="timepickrange2" class="form-control width200 pull-left timepickrange2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">常用设备：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <input type="text" id="timepickrange" class="form-control width200 pull-left mr15 timepickrange">
                                                    <input type="text" id="timepickrange2" class="form-control width200 pull-left timepickrange2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">常用设备：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="pull-left re">
                                                    <i class="icon-remove"></i>
                                                    <input type="text" placeholder="请搜索" class="form-control width200 pull-left auto-complete mr20 mb10" autocomplete="off">
                                                </div>
                                                <i class="icon-plus"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">常用设备：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <input type="text" placeholder="请搜索" class="form-control width200 pull-left auto-complete mr20 mb10" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">上下限：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <input type="text" placeholder="请搜索" class="form-control width200 pull-left mr15 mb10">
                                                    <input type="text" placeholder="请搜索" class="form-control width200 pull-left mb10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">常用设备：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>PC</span>
                                                    <span>移动</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">性别(<i>单选</i>)：</strong>
                                            <div data-multi="true" class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>男</span>
                                                    <span>女</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">年龄段：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span data-value="aa">19-24岁</span>
                                                    <span data-value="bb">25-29岁</span>
                                                    <span>30-34岁</span>
                                                    <span>35-44岁</span>
                                                    <span>45-59岁</span>
                                                    <span>60岁以上</span>
                                                    <span>19-24岁</span>
                                                    <span>25-29岁</span>
                                                    <span>30-34岁</span>
                                                    <span>35-44岁</span>
                                                    <span>45-59岁</span>
                                                    <span>60岁以上</span>
                                                    <span>19-24岁</span>
                                                    <span>25-29岁</span>
                                                    <span>30-34岁</span>
                                                    <span>35-44岁</span>
                                                    <span>45-59岁</span>
                                                    <span>60岁以上</span>
                                                    <span>19-24岁</span>
                                                    <span>25-29岁</span>
                                                    <span>30-34岁</span>
                                                    <span>35-44岁</span>
                                                    <span>45-59岁</span>
                                                    <span>60岁以上</span>
                                                    <span>19-24岁</span>
                                                    <span>25-29岁</span>
                                                    <span>30-34岁</span>
                                                    <span>35-44岁</span>
                                                    <span>45-59岁</span>
                                                    <span>60岁以上</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">
                                                所在区域(<i>单选</i>)               ：
                                            </strong>
                                            <div data-multi="true" class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <em class="tag-self">自定义</em>
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                                <div class="tag-hidecon clearfix arrow-left">
                                                    <input type="text" placeholder="上限" class="timepickrange form-control width200 pull-left mr15">
                                                    <input type="text" placeholder="下限" class="timepickrange2 form-control width200 pull-left">
                                                    <em class="tag-other-back">返回预设</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>111</span>
                                                    <span>222</span>
                                                    <span>333</span>
                                                    <span>444</span>
                                                    <span>555</span>
                                                    <span>666</span>
                                                    <span>777</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <strong class="tag-con-title">所在区域：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>华南</span>
                                                    <span>华东</span>
                                                    <span>华北</span>
                                                    <span>西南</span>
                                                    <span>东北</span>
                                                    <span>西北</span>
                                                    <span>港澳台</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="clearfix">
                                            <strong class="tag-con-title">设备：</strong>
                                            <div class="tag-con-item clearfix">
                                                <div class="tag-true">
                                                    <span>高端机型</span>
                                                    <span>中端机型</span>
                                                    <span>低端机型</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tagnum tagnum2" id="tagnum" title="点击刷新目标会员数">
                                    <span style="color:red;">PC：1962     /     移动：886</span>
                                    <button type="button" class="btn btn-default" data-toggle="dialog" data-target="#dialog-tag" data-right="-960px">重定义</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="modal1" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新建标签</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-3">标签分类：</label>
                            <div class="col-xs-8">
                                <select class="form-control">
                                    <option>最常使用</option>
                                    <option>分组2</option>
                                    <option>分组3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">标签名称：</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="modal1-btn">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新建标签分类</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-3">标签分类名称：</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="modal2-btn">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="main-dialog" id="dialog-tag">
        <div class="event-manage">
            <div class="col-xs-12">
                <div class="event-top clearfix">
                    <div class="event-icon">
                        <i class="icon icon-tag"></i>
                    </div>
                    <div class="title">
                        重定义标签
                    </div>
                </div>
                <div class="tag-main">
                    <div class="tag-hd">
                        <div class="tag-bd clearfix">
                            <div class="pull-left">
                                <input type="text" class="form-control" id="search-text" placeholder="搜索" />
                            </div>
                            <div class="pull-left">
                                <ul id="tag-tab-nav" class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">基本项<span>3</span></a></li>
                                    <li><a href="#tab2" data-toggle="tab">行为项<span>0</span></a></li>
                                    <li><a href="#tab3" data-toggle="tab">数值项<span>0</span></a></li>
                                    <li><a href="#tab4" data-toggle="tab">安克诚<span>0</span></a></li>
                                    <li class="not"><a href="#tab-search" id="tab-search-a" data-toggle="tab">搜索结果</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tag-tab1">
                            <div class="tag-con">
                                <div class="clearfix">
                                    <strong class="tag-con-title">11111：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <select class="form-control tag-s-b">
                                                <option>大于</option>
                                                <option>小于</option>
                                            </select>
                                            <input type="text" id="timepickrange2" class="form-control width200 pull-left timepickrange2">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">常用设备：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <input type="text" id="timepickrange" class="form-control width200 pull-left mr15 timepickrange">
                                            <input type="text" id="timepickrange2" class="form-control width200 pull-left timepickrange2">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">常用设备：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="pull-left re">
                                            <i class="icon-remove"></i>
                                            <input type="text" placeholder="请搜索" class="form-control width200 pull-left auto-complete mr20 mb10" autocomplete="off">
                                        </div>
                                        <i class="icon-plus"></i>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">常用设备：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <input type="text" placeholder="请搜索" class="form-control width200 pull-left auto-complete mr20 mb10" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">上下限：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <input type="text" placeholder="请搜索" class="form-control width200 pull-left mr15 mb10">
                                            <input type="text" placeholder="请搜索" class="form-control width200 pull-left mb10">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">常用设备：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>PC</span>
                                            <span>移动</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">性别(<i>单选</i>)：</strong>
                                    <div data-multi="true" class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>男</span>
                                            <span>女</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">年龄段：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span data-value="aa">19-24岁</span>
                                            <span data-value="bb">25-29岁</span>
                                            <span>30-34岁</span>
                                            <span>35-44岁</span>
                                            <span>45-59岁</span>
                                            <span>60岁以上</span>
                                            <span>19-24岁</span>
                                            <span>25-29岁</span>
                                            <span>30-34岁</span>
                                            <span>35-44岁</span>
                                            <span>45-59岁</span>
                                            <span>60岁以上</span>
                                            <span>19-24岁</span>
                                            <span>25-29岁</span>
                                            <span>30-34岁</span>
                                            <span>35-44岁</span>
                                            <span>45-59岁</span>
                                            <span>60岁以上</span>
                                            <span>19-24岁</span>
                                            <span>25-29岁</span>
                                            <span>30-34岁</span>
                                            <span>35-44岁</span>
                                            <span>45-59岁</span>
                                            <span>60岁以上</span>
                                            <span>19-24岁</span>
                                            <span>25-29岁</span>
                                            <span>30-34岁</span>
                                            <span>35-44岁</span>
                                            <span>45-59岁</span>
                                            <span>60岁以上</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">
                                        所在区域(<i>单选</i>)               ：
                                    </strong>
                                    <div data-multi="true" class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <em class="tag-self">自定义</em>
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                        <div class="tag-hidecon clearfix arrow-left">
                                            <input type="text" placeholder="上限" class="timepickrange form-control width200 pull-left mr15">
                                            <input type="text" placeholder="下限" class="timepickrange2 form-control width200 pull-left">
                                            <em class="tag-other-back">返回预设</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>111</span>
                                            <span>222</span>
                                            <span>333</span>
                                            <span>444</span>
                                            <span>555</span>
                                            <span>666</span>
                                            <span>777</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>华南</span>
                                            <span>华东</span>
                                            <span>华北</span>
                                            <span>西南</span>
                                            <span>东北</span>
                                            <span>西北</span>
                                            <span>港澳台</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix">
                                    <strong class="tag-con-title">设备：</strong>
                                    <div class="tag-con-item clearfix">
                                        <div class="tag-true">
                                            <span>高端机型</span>
                                            <span>中端机型</span>
                                            <span>低端机型</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tag-tab2">
                            <div class="tag-con">
                                <div class="clearfix">
                                    <strong class="tag-con-title">购物会员：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>是</span>
                                        <span>否</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">会员等级（<i>单选</i>)：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>铁牌会员</span>
                                        <span>铜牌会员</span>
                                        <span>银牌会员</span>
                                        <span>金牌会员</span>
                                        <span>钻石会员</span>
                                        <span>皇冠会员</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">年龄段(<i>单选</i>)：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>19-24岁</span>
                                        <span>25-29岁</span>
                                        <span>30-34岁</span>
                                        <span>35-44岁</span>
                                        <span>45-59岁</span>
                                        <span>60岁以上</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">所在区域：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>华南</span>
                                        <span>华东</span>
                                        <span>华北</span>
                                        <span>西南</span>
                                        <span>东北</span>
                                        <span>西北</span>
                                        <span>港澳台</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">设备：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>高端机型</span>
                                        <span>中端机型</span>
                                        <span>低端机型</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tag-tab3">
                            <div class="tag-con">
                                <div class="clearfix">
                                    <strong class="tag-con-title">产品特性（<i>单选</i>）：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>健康舒适</span>
                                        <span>有机天然</span>
                                        <span>怡人芬芳</span>
                                        <span>保湿滋润</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">会员等级（<i>单选</i>）：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>铁牌会员</span>
                                        <span>铜牌会员</span>
                                        <span>银牌会员</span>
                                        <span>金牌会员</span>
                                        <span>钻石会员</span>
                                        <span>皇冠会员</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">渠道标识：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>唯一访问</span>
                                        <span>多访问</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">客户类别：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>新客</span>
                                        <span>老客</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tag-tab4">
                            <div class="tag-con">
                                <div class="clearfix">
                                    <strong class="tag-con-title">家庭状况（<i>单选</i>）：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>未婚</span>
                                        <span>已婚</span>
                                        <span>未育</span>
                                        <span>已育</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <strong class="tag-con-title">售卖频道（<i>单选</i>）：</strong>
                                    <div class="tag-con-item clearfix">
                                        <span>特卖会</span>
                                        <span>奢侈品</span>
                                        <span>唯品团</span>
                                        <span>美妆</span>
                                        <span>移动端</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tag-all clearfix">
                            <div class="tag-all-title">自定义： 【<span id="customStr"></span> 】用户</div>
                            <div class="tag-num" id="tag-num">
                                目标会员：
                                <span>？</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pt20 mybtn pull-right re">
                            <button class="btn btn-success" type="button" id="tag-nowtime-btn">确定</button>
                            <button class="btn btn-default" type="button" id="tag-nowtime-reset">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/dmp/plugins/jquery/jquery.js"></script>
    <script src="../../static/dmp/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/dmp/plugins/jquery-validation/1.9.0/jquery.validate.min.js"></script>
    <script src="../../static/dmp/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../../static/dmp/plugins/jquery-mockjax/jquery.mockjax.js"></script>
    <script src="../../static/dmp/plugins/select2/select2.min.js"></script>
    <script src="../../static/dmp/scripts/app.js"></script><!--[if lt IE 9]><script src="../../static/dmp/plugins/respond/respond.min.js"></script><script src="../../static/dmp/plugins/html5shiv/html5shiv.min.js"></script><![endif]-->
    <script>
        !function () {

            $("#sumit").click(function () {
                $("#main-form").submit();
            });

            $(".popover").popover({
                trigger: "hover"
            });

            $(".timeSelect").datetimepicker({});

            $("#main-form").validate({
                rules: {
                    depart: {
                        required: true
                    },
                    tmplNo: {
                        required: true
                    }
                },
                messages: {
                    depart: {
                        required: "请输入指派部门"
                    },
                    tmplNo: {
                        required: "请输入模板编码"
                    }
                }
            });


            $(".tree-child").click(function () {
                $(".tree-main .active").removeClass("active");
                $(this).addClass("active");
            });
            $(".tree-parent").click(function () {
                $(".tree-main .active").removeClass("active");
                $(this).addClass("acwtive");
            });

            $("#depart").select2({
                formatResult: function (object) {
                    return "<span style='color:#ff6600;margin-right:20px;'>" + object.text + "</span>" + "<span>" + $(object.element[0]).data("more") + "</span>";
                }
            });

            $(".tree-parent").click(function () {
                if ($(this).hasClass("tree-hide")) {
                    $(this).toggleClass("tree-hide").parent().nextAll().stop().slideToggle(200);
                    return;
                }
                $(".tree-hide").removeClass("tree-hide").parent().nextAll().stop().slideToggle(200);
                $(this).toggleClass("tree-hide").parent().nextAll().stop().slideToggle(200);
            });

            $(".tree-group").eq(1).find(".tree-parent").click();

            //修改标签
            $(document).on("click", ".icon-edit", function () {
                $(this).parent().prepend('<input type="text" value="' + $(this).siblings(".tagdir-value").text() + '" class="form-control tag-edit-input" /><i class="icon-ok"></i>').addClass("tag-edit");
                return false;
            });

            //修改输入框点击事件
            $(document).on("click", ".tag-edit-input", function () {
                return false;
            });

            $(document).on("keydown", ".tag-edit-input", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });

            $(document).on("click", ".icon-ok", function (e) {
                $(this).siblings(".tagdir-value").text($(this).siblings(".tag-edit-input").val()).parent().removeClass("tag-edit");
                $(this).siblings(".tag-edit-input").remove().end().remove();

                return false;
            });

            $("#newtag").click(function () {
                $("#modal1").modal("toggle");
            });
            $("#newtagdir").click(function () {
                $("#modal2").modal("toggle");
            });

            $("#modal1-btn").click(function () {
                $("#modal1").modal("toggle");
            });

            $("#modal2-btn").click(function () {
                $("#modal2").modal("toggle");
            });

            $.mockjax({
                url: "vipNum.html",
                type: "post",
                responseTime: 1000,
                responseText: JSON.stringify({ num: 888 })
            });

            $("#tagnum span").click(function () {
                var _this = $(this).find("span");
                if (!_this.data("edit")) {
                    $.post("vipNum.html").success(function (result) {
                        _this.text($.parseJSON(result).num).css("color", "red").data("edit", "edit");
                    });

                    _this.text("统计中").css("color", "#333").data("edit", "edit");
                }
            });
            //已选人数恢复
            var backChoseNum = function () {
                //已选人数返回
                $("#chosenumbtn").html("已选人数？").data("edit", "");
            };

        }();
    </script>
</body>
</html>
