<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>数字营销平台</title><link rel="shortcut icon" href="../../static/dmp/images/favicon.ico">
    <link href="../../static/dmp/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/jquery-jqgrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/base.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/setting.css" rel="stylesheet" />
</head>
<body>
    <div class="sider">
        <div class="home-menu">
            <a href="index.html">
                <i class="icon icon-home"></i>
            </a>
        </div>
        <div class="main-name">
            数字营销平台
        </div>
        <div class="user clearfix">
            <img src="../../static/dmp/images/header.png" />
            Admin_Super
        </div>
        <ul class="menu">
            <li><a href="list.html">营销活动</a></li>
            <li><a href="backlist.html">不过滤活动</a></li>
            <li><a href="activelist.html">活动任务</a></li>
            <li class="active"><a href="typelist.html">业务类型</a></li>
        </ul>
        <ul class="menu set-menu">
            <li><a href="taglist.html">会员中心</a></li>
            <li><a href="waylist.html">渠道中心</a></li>
            <li><a href="tmplactive.html">模板中心</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="clearfix">
            <div class="col-xs-12">
                <div id="list-top">
                    <div class="breadcrumb-con">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="icon icon-home"></i></a></li>
                            <li><a href="#">常规业务</a></li>
                            <li><a href="#">系统配置</a></li>
                            <li class="active">业务类型</li>
                        </ol>
                        <div class="search-con">
                            <form>
                                <input class="text" type="text" placeholder="快速检索" />
                                <button class="button"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="content-title clearfix mb20">
                        <span class="title fontblue">业务类型</span>
                        <div class="group-small clearfix">
                            <a href="#" class="btn btn-default btn-sm" data-toggle="dialog" data-target="#main-dialog">新建</a>
                            <a href="#" class="btn btn-default btn-sm">删除</a>
                        </div>
                    </div>
                </div>
                <table id="data" class="ui-jqgrid"></table>
                <div id="pager"></div>
            </div>
        </div>

    </div>
    <div class="main-dialog" id="main-dialog">
        <div class="event-manage big-dialog">
            <div class="col-xs-12">
                <div class="event-top clearfix">
                    <div class="event-icon">
                        <i class="icon icon-reorder"></i>
                    </div>
                    <div class="title">
                        新建业务类型
                    </div>
                </div>
                <form class="form-horizontal pt20" id="main-form">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="typeway">通道类型：</label>
                        <div class="col-md-10">
                            <select class="form-control" id="typeway" name="typeway">
                                <option>短信</option>
                                <option>邮件</option>
                            </select>
                            <span class="required">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="typename">活动类型名称：</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="typename" id="typename" />
                            <span class="required">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="target">发送对象：</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="target" name="target" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="level">优先级：</label>
                        <div class="col-md-10">
                            <input type="text" id="level" name="level" class="form-control" />
                            <span class="required">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="remark">备注：</label>
                        <div class="col-md-10">
                            <input type="text" id="remark" name="remark" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11 mybtn">
                            <div class="pull-right">
                                <button class="btn btn-success">新建</button>
                                <button class="btn btn-default" type="button" data-toggle="dialog-close">返回</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="main-dialog" id="main-dialog2">
        <div class="event-manage big-dialog">
            <div class="col-xs-12">
                <div class="event-top clearfix">
                    <div class="event-icon">
                        <i class="icon icon-reorder"></i>
                    </div>
                    <div class="title">
                        修改业务类型
                    </div>
                </div>
                <form class="form-horizontal pt20" id="edit-form">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="typeway">通道类型：</label>
                        <div class="col-md-10">
                            <select class="form-control" id="typeway" name="typeway">
                                <option>短信</option>
                                <option selected>邮件</option>
                            </select>
                            <span class="required">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="typename">活动类型名称：</label>
                        <div class="col-md-10">
                            <input type="text" value="活动类型名称" class="form-control" name="typename" id="typename" />
                            <span class="required">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="target">发送对象：</label>
                        <div class="col-md-10">
                            <input type="text" value="发送对象" class="form-control" id="target" name="target" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="department">部门归属：</label>
                        <div class="col-md-10">
                            <input type="text" value="部门归属" id="department" name="department" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="level">优先级：</label>
                        <div class="col-md-10">
                            <input type="text" id="level" value="优先级" name="level" class="form-control" />
                            <span class="required">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="remark">备注：</label>
                        <div class="col-md-10">
                            <input type="text" id="remark" value="备注" name="remark" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11 mybtn">
                            <div class="pull-right">
                                <button class="btn btn-success">保存</button>
                                <button class="btn btn-default" type="button" data-toggle="dialog-close">返回</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../../static/dmp/plugins/jquery/jquery.js"></script>
    <script src="../../static/dmp/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/dmp/plugins/bootstrap-bootbox/bootbox.js"></script>
    <script src="../../static/dmp/plugins/jquery-mockjax/jquery.mockjax.js"></script>
    <script src="../../static/dmp/plugins/jquery-jqgrid/jquery.jqGrid.js"></script>
    <script src="../../static/dmp/plugins/jquery-validation/1.9.0/jquery.validate.min.js"></script>
    <script src="../../static/dmp/scripts/app.js"></script><!--[if lt IE 9]><script src="../../static/dmp/plugins/respond/respond.min.js"></script><script src="../../static/dmp/plugins/html5shiv/html5shiv.min.js"></script><![endif]-->
    <script>
        !function () {

            //模拟ajax
            $.mockjax({
                url: "test.php",
                type: "post",
                responseTime: 0,
                responseText: JSON.stringify({ "page": 1, "totalPage": 1, "totalCount": 888, "rows": [{ "id": 100, "cell": ["123", "短信", "0", "新会员营销(送券)", "注册未购买会员", "市场", "后期应用短信量"] }, { "id": 101, "cell": ["123", "短信", "0", "新会员营销(送券)", "注册未购买会员", "市场", "后期应用短信量"] }, { "id": 102, "cell": ["123", "短信", "0", "新会员营销(送券)", "注册未购买会员", "市场", "后期应用短信量"] }, { "id": 103, "cell": ["123", "短信", "0", "新会员营销(送券)", "注册未购买会员", "市场", "后期应用短信量"] }, { "id": 4, "cell": ["123", "短信", "0", "新会员营销(送券)", "注册未购买会员", "市场", "后期应用短信量"] }, { "id": 5, "cell": ["123", "短信", "0", "新会员营销(送券)", "注册未购买会员", "市场", "后期应用短信量"] }, { "id": 6, "cell": ["123", "短信", "0", "新会员营销(送券)", "注册未购买会员", "市场", "后期应用短信量"] }] })
            });

            //jqGrid配置
            $("#data").jqGrid({
                url: 'test.php',
                datatype: "json",
                mtype: "post",
                multiselect: true,
                multiselectWidth: 30,
                height: $(window).height() - $("#list-top").height() - 88,
                width: $(".content").width() - 30,
                rowNum: 40,
                rowList: [20, 40, 80],
                colNames: ['ID', '通道类型', '优先级', '活动类型名称', '发送对象', '部门归属', '备注'],
                colModel: [
                    { name: "id", sortable: true },
                    { },
                    { },
                    { },
                    { },
                    { },
                    { }
                ],
                autowidth: false,
                pager: "#pager",
                altRows: true,
                viewrecords: true,
                ondblClickRow: function (rowid) {
                    $("#data").setSelection(rowid);
                    app.showDialog("#main-dialog2");
                }
            });

            $("#main-form").validate({
                rules: {
                    typename: {
                        required: true
                    },
                    level: {
                        required: true
                    }
                },
                messages: {
                    typename: {
                        required: "请输入活动类型名称"
                    },
                    level: {
                        required: "请输入优先级"
                    }
                }
            });
            $("#edit-form").validate({
                rules: {
                    typename: {
                        required: true
                    },
                    level: {
                        required: true
                    }
                },
                messages: {
                    typename: {
                        required: "请输入活动类型名称"
                    },
                    level: {
                        required: "请输入优先级"
                    }
                }
            });

        }();
    </script>
</body>
</html>
