
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>数字营销平台</title><link rel="shortcut icon" href="../../static/dmp/images/favicon.ico">
    <link href="../../static/dmp/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link href="../../static/dmp/plugins/select2/select2.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/base.css" rel="stylesheet" />
    <link href="../../static/dmp/styles/wayadd.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target="#create-nav-content" data-offset="400">
    <div class="sider">
        <div class="home-menu">
            <a href="index.html">
                <i class="icon icon-home"></i>
            </a>
        </div>
        <div class="main-name">
            数字营销平台
        </div>
        <div class="user clearfix">
            <img src="../../static/dmp/images/header.png" />
            Admin_Super
        </div>
        <ul class="menu">
            <li class="active"><a href="list.html">渠道管理</a></li>
        </ul>
        <ul class="menu set-menu">
            <li><a href="list.html">营销中心</a></li>
            <li><a href="taglist.html">会员中心</a></li>
            <li><a href="tmplactive.html">模板中心</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="clearfix navigation">
            <div class="col-xs-12">
                <div id="list-top">
                    <div class="breadcrumb-con">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="icon icon-home"></i></a></li>
                            <li><a href="#">常规业务</a></li>
                            <li class="active">新建渠道</li>
                        </ol>
                        <div class="search-con">
                            <form>
                                <input class="text" type="text" placeholder="快速检索" />
                                <button class="button"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal create-form" id="main-form">
            <div class="group-title">新建渠道:</div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="wayname">渠道名称：</label>
                <div class="col-md-4">
                    <input id="wayname" name="wayname" type="text" class="form-control" />
                    <span class="required">*</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="wayno">渠道编码：</label>
                <div class="col-md-3">
                    <input type="text" name="wayno" class="form-control" id="wayno" />
                    <span class="required">*</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="waytype">渠道类型：</label>
                <div class="col-md-3">
                    <select class="form-control" id="waytype" name="waytype">
                        <option value="0">请选择...</option>
                        <option value="1">邮件</option>
                        <option value="2">短信</option>
                        <option value="3">PUSH</option>
                    </select>
                    <span class="required">*</span>
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="waytype" name="waytype">
                        <option value="0">请选择...</option>
                        <option value="1">邮件</option>
                        <option value="2">短信</option>
                        <option value="3">PUSH</option>
                    </select>
                    <span class="required">*</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="way">优先级：</label>
                <div class="col-md-3">
                    <select class="form-control" id="way" name="way">
                        <option>请选择...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="wayurl">访问URL：</label>
                <div class="col-md-6">
                    <input id="wayurl" name="wayurl" type="text" class="form-control" />
                    <span class="required">*</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="wayapt">适配器实现类：</label>
                <div class="col-md-6">
                    <input id="wayapt" name="wayapt" type="text" class="form-control" />
                    <span class="required">*</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="waynum">每批次最大发送数：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="waynum" name="waynum" />
                    <span class="required">*</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="username">用户名：</label>
                <div class="col-md-3">
                    <input class="form-control" id="username" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="password">密码：</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="from">来源(应用系统名称)：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="from" name="from" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="waykey">应用KEY：</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="waykey" name="waykey" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="waytimeut">超时时间：</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="waytimeut" name="waytimeut" />
                </div>
                <label class="col-md-6 mt6">（连接最大的超时数,0表示没有限制）</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-9 mybtn pt20">
                    <button class="btn btn-success">新建</button>
                    <button class="btn btn-default">取消</button>
                </div>
            </div>
        </form>

    </div>

    <script src="../../static/dmp/plugins/jquery/jquery.js"></script>
    <script src="../../static/dmp/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/dmp/plugins/jquery-validation/1.9.0/jquery.validate.min.js"></script>
    <script src="../../static/dmp/plugins/select2/select2.min.js"></script>
    <script src="../../static/dmp/scripts/app.js"></script><!--[if lt IE 9]><script src="../../static/dmp/plugins/respond/respond.min.js"></script><script src="../../static/dmp/plugins/html5shiv/html5shiv.min.js"></script><![endif]-->
    <script>
        !function () {
            
            //验证
            $("#main-form").validate({
                rules: {
                    wayname: {
                        required: true
                    },
                    wayno: {
                        required: true
                    },
                    wayurl: {
                        required: true
                    },
                    wayapt: {
                        required: true
                    },
                    waynum: {
                        required: true
                    }
                },
                messages: {
                    wayname: {
                        required: "请输入渠道名称"
                    },
                    wayno: {
                        required: "请输入渠道编码"
                    },
                    wayurl: {
                        required: "请输入访问URL"
                    },
                    wayapt: {
                        required: "请输入适配器实现类"
                    },
                    waynum: {
                        required: "请输入最大发送数"
                    }
                }
            });

            $("#waytype").change(function () {
                switch ($(this).val()) {
                    case "0":
                        $("#way").html("").append("<option>请选择...</option>");
                        break;
                    case "1":
                        $("#way").html("").append("<option>请选择...</option><option>默认（营销）</option><option>默认（客服）</option><option>不默认</option>")
                        break;
                    case "2":
                    case "3":
                        $("#way").html("").append("<option>请选择...</option><option>默认</option><option>不默认</option>")
                        break;
                }
            });


        }();
    </script>
</body>
</html>
