
.nav-tabs>li{
    float:none;
    position:relative;
    margin-bottom:0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #0099ff;
    cursor: default;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-right-color: transparent;
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #fff;
    border:1px solid #fff;
    border-right-color:#d4d4d4;
    color:#0099ff;
}
.nav-tabs > li.active > a {
    border: 1px solid #d4d4d4;
    border-right-color: #fff;
    border-radius:5px 0 0 5px;
    color:#0099ff;
}
.nav-tabs > li.active > a:before {
    content:'';
    width:12px;
    height:12px;
    position:absolute;
    left:19px;
    top:14px;
    border-radius:50%;
    border:2px solid #0099ff;
}


.nav-tabs > li > a {
    padding-left:40px;
    color:#333333;
}
.nav-tabs {
    border-bottom:none;
}
.data-con {
    margin-left:145px;
    position:relative;
    padding-left:12px;
    border:1px solid #d4d4d4;
}
.content-title{
padding-bottom: 0;
}
.data-con:before {
    position:absolute;
    content:'';
    height:100%;
    width:1px;
    left:-22px;
    top:0;
    background:#d4d4d4;
}
.tag-nav {
    width:127px;
    position:absolute;
    padding-top:20px;
    z-index:100;
}
.tag-nav-indent{
    font-size: 30px;
    position: absolute;
    left: 128px;
    top: 69px;
    cursor: pointer;
    color:#09f;
}
.tag-nav-indent i{
    display: none;
}
.tag-nav-indent i.active{
    display: block;
}

.chart-con{
    display: none;
}
.chart-con.active{
    display: block;
}
.chart-pie{
    height: 400px;
    width: 40%;
    margin-right: 8%;
    float: left;
}
.chart-line{
    height: 500px;
}
@media all and (max-width:1366px) {
    .chart-pie{
        height: 250px;
    }
    .chart-line{
        height: 400px;
    }
}
.tab-chart{
    position: relative;
    top: 1px;
    padding-top: 7px;
    z-index: 111;
}
.tab-chart-item{
    float: left;
    border: 1px solid #d4d4d4;
    padding: 7px 25px;
    margin-right: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f2f2f2;
    color:#ccced6;
    cursor: pointer;
}
.tab-chart-item:hover{
    text-decoration: none;
    color:#ccced6;
}
.tab-chart-item.active{
    color:#ff6600;
    background: #ffffff;
    border-bottom-color: #ffffff;
    font-weight: bold;
}
.tab-chart-item.active:hover{
    text-decoration: none;
    color:#ff6600;
}
.chart-input{
    width:180px;
    float: left;
    margin-right: 10px;
}
.chart-search{
    float: left;
}
.chart-form{
    margin-top: 8px;
    padding-bottom: 8px;
}
.chart-timearea{
    float: right;
    margin-right: 20px;
}
.chart-timearea span{
    color:#09f;
    position: relative;
    top: 2px;
    font-weight: bold;
}
.chart-form-border{
    border-bottom: 1px solid #e4e4e4;
}


/*表格*/
/*.ui-jqgrid-btable .ui-widget-content.ui-state-highlight,.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
    background-color: #FFFFFF;
    color: #000;
}*/
.ui-jqgrid tr.ui-row-ltr td{
    border-right:1px solid #ddd;
}