.tag-tree {
width:233px;
border-right:1px dashed #e4e4e4;
margin-top:20px;
padding-left:30px;
position:absolute;
}
.tag-tree-title {
font-size:18px;
padding-top:7px;
padding-bottom:25px;
}
.tag-main {
margin-right: 10px;
margin-left: 10px;
padding-top: 30px;
}
.tag-main2 {
margin-left:233px;
padding-left:30px;
margin-right:30px;
padding-top:30px;
}
.tree-main {
padding-top:15px;
padding-left:12px;
height:546px;
overflow:auto;
}
.tab-content {
    border:1px solid #d7d7d7;
    border-top:0;
}
.tab-pane {
height:580px;
}
.tag-con {
    padding-top:25px;
    margin-right:17px;
    height:568px;
    overflow:auto;
}
.tag-con2 {
height:auto;
}
.tag-con > div {
margin-bottom:10px;
}
.tag-con-title {
float:left;
width:20%;
text-align:right;
margin-right:10px;
color:#666666;
font-weight:normal;
font-size:13px;
line-height:27px;
}
.tag-con .tag-true span {
padding:4px 19px;
font-size:13px;
color:#0099ff;
border:1px solid #0099ff;
cursor:pointer;
margin-right:5px;
display:block;
float:left;
margin-bottom:10px;
transition:all 0.1s ease-out;
display:none;
}
.tag-con-item {
width:70%;
float:left;
}
.tag-con-item span:nth-child(-n+5) {
display:block;
}
.tag-con-item.more span {
    display:block;
}
.tag-con .tag-true span:hover {
color:#fff;
background:#0099ff;
}
.tag-con span.select {
color:#fff;
background:#0099ff;
}
.tag-con i {
color:#ff6600;
font-style:normal;
}
.tag-all {
position:relative;
}
.tag-all-title {
color:#333333;
background:#f4f4f5;
height:50px;
margin-bottom:15px;
margin-right:260px;
margin-left:15px;
padding-left:13px;
padding-top:5px;
border-radius:5px;
overflow:hidden;
text-overflow:ellipsis;
}
.tag-all-title span{
color:#0099ff;
}
.tag-num {
color:#333333;
background:#f4f4f5;
height:51px;
padding-left:10px;
padding-top:5px;
border-radius:5px;
position:absolute;
right:0;
top:0;
width:230px;
margin-right:15px;
cursor:pointer;
}
.tag-num span {
color:#ff3300;
display:block;
text-align:center;
}
.nav-tabs {
border-bottom:0;
float:left;
position:relative;
top:2px;
}
.nav-tabs span {
width:25px;
height:19px;
background:#ffffff;
color:#ff6600;
text-align:center;
line-height:19px;
display:inline-block;
margin-left:8px;
border-radius:5px;
display:none;
position:relative;
}
.nav-tabs li.active span:before {
content:"(";
position:absolute;
top:-1px;
left:0;
color:#fff;
}
.nav-tabs li.active span:after {
content:")";
position:absolute;
top:-1px;
right:0;
color:#fff;
}
.nav-tabs span:before {
content:"(";
position:absolute;
top:-1px;
left:0;
color:#428bca;
}
.nav-tabs span:after {
content:")";
position:absolute;
top:-1px;
right:0;
color:#428bca;
}
li.active span {
    font-weight:bold;
    color:#333;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
border:none;
background:#428bca;
color:#fff;
}
.nav-tabs > li > a {
padding:5px 15px;
border-radius:5px;
color:#428bca;
}
.nav-tabs > li > a:hover {
text-decoration:underline;
}
.nav-tabs > li.active > a:hover {
text-decoration:none;
}
.tag-hd {
border:1px solid #d4d4d4;
border-bottom:none;
padding-top:10px;
}
.tag-bd {
    margin-left:10px;
    margin-right:10px;
    padding-bottom:10px;
    border-bottom:1px dashed #d4d4d4;
    position:relative;
}
.tag-bd-search {
position:absolute;
left:0;
top:0;
width:180px;
}
.tag-bd-tag {
padding-left:190px;
}
.tag-search {
    width:203px;
    height:27px;
    float:right;
}
.tag-search form {
margin-top:5px;
}
.tag-search input {
    width:172px;
    height:27px;
    border:1px solid #d7d7d7;
    border-right:0;
    padding:4px 12px;
    font-size:12px;
    float:left;
}
.tag-search button {
    width:31px;
    height:27px;
    background:#9fd953;
    color:#fff;
    border:0;
    float:left;
}
.nav-tabs > li > a:hover,.nav-tabs > li > a:focus {
    background:transparent;
    border-color:transparent;
}

.tagtextcon {
border:1px solid #d7d7d7;
padding:15px 0 15px;
position:relative;
}
.tagtextcontainer {
height:444px;
overflow:auto;
}
.tagdepart {
height:256px;
overflow:auto;
padding-left:10px;
}
.tag-s-b {
width:100px;
float:left;
margin-right:15px;
}
.tageditcon {
padding-top:30px;
padding-bottom:20px;
padding-right:40px;
border-right:1px solid #d7d7d7;
height:491px;
}
@media (min-width:1500px) {
    .tagtextcontainer {
    height:740px;
    }
    .tagdepart {
    height:436px;
    }
    .tree-main {
    height:720px;
    }
    .tageditcon {
    height: 788px;
    }
}
.tagvalcon {
float:left;
width:80%;
}
.tagtext {
color:#666666;
overflow:hidden;
margin-bottom:10px;
}
.tagtext strong {
text-align:right;
width:20%;
display:block;
float:left;
font-weight:normal;
padding-left:10px;
}
.tagtext span {
margin-left:15px;
margin-right:10%;
display:block;
background:#0099ff;
color:#fff;
float:left;
padding:3px 20px 3px 10px;
word-break:break-all;
}
.tagnum {
position:relative;
margin-top:40px;
}
.tagnum span {
display:block;
background:#f4f4f5;
border-radius:5px;
margin-right:15px;
margin-left:15px;
height:30px;
color:#333;
line-height:30px;
text-align:center;
cursor:pointer;
}
.tagnum2 span {
margin-right:84px;
}
.tagnum .btn {
    position:absolute;
    right:10px;
    top:-2px;
    color:#0099ff;
    background:#fff;
    border:1px solid #0099ff;
    transition:all 0.2s ease-in;
}
.tagnum .btn:hover {
    color:#fff;
    background:#0099ff;
}
.my-no-bo {
border-right:1px solid #d7d7d7;
}
.tageditcon .timetext {
    padding-bottom:20px;
    padding-left:13px;
}
.tageditcon .textdetail {
width:54px;
float:left;
}
.tag-view-item {
    margin-bottom:15px;
}
.tag-view-item span{
    margin-left:8px;
}
.depart-item {
clear:both;
border-bottom:1px dashed #d4d4d4;
height:35px;
line-height:32px;
}
.depart-item label {
color:#ff6600;
width:40%;
float:left;
font-weight:normal;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.depart-item label input {
margin-right:10px;
}
.depart-item span {
    padding-left:10px;
    width:60%;
    float:left;
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.tagdetail .tree-main{
    padding-left:10px;
    border-right: 1px dashed #e4e4e4;
}
.moveinput {
float:left;
width:263px;
}
.movebtn {
float:right;
}
.movetagcon {
    margin-top:10px;
    height:150px;
    overflow:auto;
}
.movetagcon>div{
    color:rgb(51, 51, 51);
    font-weight:bold;
    height:35px;
    line-height:35px;
    margin-bottom:2px;
    border-radius:5px;
    padding-left:10px;
    cursor:pointer;
}
.movetagcon .tagdir:hover {
background:#f4f4f5;
}
.tree-child.active {
background: #09f;
color: #fff;
}
.tree-child.active i{color:#fff}

.border-bottom {
border-bottom:1px dashed #d7d7d7;
padding-bottom:20px;
}
.tagdepart2 {
height: 250px;
overflow: auto;
padding-left: 10px;
padding-top:20px;
}
.tag-con .icon {
color:#9fd953;
font-size:22px;
margin-right:10px;
position:relative;
top:2px;
}
.tag-more {
text-decoration:underline;
color:#FF6600;
display:block;
float:left;
cursor:pointer;
margin-top:5px;
margin-left:5px;
font-style:normal;
}
.tag-self {
padding: 4px 19px;
font-size: 13px;
color: #77C9FF;
border: 1px solid #77C9FF;
cursor: pointer;
margin-right: 5px;
float: left;
margin-bottom: 10px;
font-style:normal;
}
.tag-other {
    margin-bottom: 10px;
}
.tag-other-back {
font-style:normal;
color:#FF6600;
text-decoration:underline;
cursor:pointer;
margin-top:10px;
display:block;
float:left;
margin-left:10px;
}
.tag-hidecon {
display:none;
margin-bottom:10px;
margin-top:-3px;
}
.icon-remove {
margin-right:6px;
cursor:pointer;
position:absolute;
top:10px;
right:25px;
}
.auto-complete {
padding-right:25px;
}
.icon-plus {
float:left;
position:relative;
top:10px;
margin-right:4px;
cursor:pointer;
color:#0099ff !important;
}
#tab-search-a {
display:none;
}
.tagdir .icon-edit {
float:right;
margin-right: 10px;
margin-top: 10px;
color: #A8A8A8;
font-size: 16px;
display:none;
}
.tagdir .icon-edit:hover {
color:red;
}
.tagdir-value {
float:left;
width: 270px;
text-overflow: ellipsis;
overflow: hidden;
}
.movetagcon .tagdir:hover .icon-edit {
display:block;
}
.tag-edit-input {

float:left;
}
.tag-edit {

}
.tag-edit .tagdir-value {
display:none;
}
.tag-edit .icon-edit {
display:none !important;
}
.movetagcon>.tag-edit{
padding-left:0 !important;
position:relative;
}
.tag-edit .icon-ok {
position: absolute;
right: 7px;
top: 10px;
color: #09f;
}
.tageditcon-view .form-group{
margin-bottom:10px;
}
.tageditcon-view{
padding-top:0;
padding-bottom:0;
}
#dialog-tag .event-manage{
width:960px;
    -moz-transform: translate(960px,0);
    -o-transform: translate(960px,0);
    transform: translate(960px,0);
    -webkit-transform: translate(960px,0);
    -ms-transform: translate(960px,0);
}
#dialog-tag .dialog-open {
    -moz-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
}
.timepick,.timepick2{
	width:200px;
	margin-right:15px;
	float:left;	
}
.tag-con .tag-border{
	position:relative;
}
.tag-border .tag-con-title,.tag-border .tag-con-item{
	position:relative;
}
.tag-con .tag-border:before{
	content: "";
	height: 38px;
	width: 80%;
	left: 10%;
	top: -5px;
	position: absolute;
	border: 2px solid #09f;
}