body{font-family:'Microsoft YaHei'}
button:focus,input:focus{outline:0}
ul,li{padding:0;margin:0;list-style:none}
a{color:#09f;text-decoration:none}
a:hover,a:focus{color:#2a6496;text-decoration:underline}
.form-control-static{
	word-break:break-all;
}
@media all and (max-width:1600px) and (min-width:970px){.col-nd-1,.col-nd-2,.col-nd-3,.col-nd-4,.col-nd-5,.col-nd-6,.col-nd-7,.col-nd-8,.col-nd-9,.col-nd-10,.col-nd-11,.col-nd-12{float:left}
.col-nd-12{width:100%}
.col-nd-11{width:91.66666666666666%}
.col-nd-10{width:83.33333333333334%}
.col-nd-9{width:75%}
.col-nd-8{width:66.66666666666666%}
.col-nd-7{width:58.333333333333336%}
.col-nd-6{width:50%}
.col-nd-5{width:41.66666666666667%}
.col-nd-4{width:33.33333333333333%}
.col-nd-3{width:25%}
.col-nd-2{width:16.666666666666664%}
.col-nd-1{width:8.333333333333332%}
.col-nd-pull-12{right:100%}
.col-nd-pull-11{right:91.66666666666666%}
.col-nd-pull-10{right:83.33333333333334%}
.col-nd-pull-9{right:75%}
.col-nd-pull-8{right:66.66666666666666%}
.col-nd-pull-7{right:58.333333333333336%}
.col-nd-pull-6{right:50%}
.col-nd-pull-5{right:41.66666666666667%}
.col-nd-pull-4{right:33.33333333333333%}
.col-nd-pull-3{right:25%}
.col-nd-pull-2{right:16.666666666666664%}
.col-nd-pull-1{right:8.333333333333332%}
.col-nd-pull-0{right:0}
.col-nd-push-12{left:100%}
.col-nd-push-11{left:91.66666666666666%}
.col-nd-push-10{left:83.33333333333334%}
.col-nd-push-9{left:75%}
.col-nd-push-8{left:66.66666666666666%}
.col-nd-push-7{left:58.333333333333336%}
.col-nd-push-6{left:50%}
.col-nd-push-5{left:41.66666666666667%}
.col-nd-push-4{left:33.33333333333333%}
.col-nd-push-3{left:25%}
.col-nd-push-2{left:16.666666666666664%}
.col-nd-push-1{left:8.333333333333332%}
.col-nd-push-0{left:0}
.col-nd-offset-12{margin-left:100%}
.col-nd-offset-11{margin-left:91.66666666666666%}
.col-nd-offset-10{margin-left:83.33333333333334%}
.col-nd-offset-9{margin-left:75%}
.col-nd-offset-8{margin-left:66.66666666666666%}
.col-nd-offset-7{margin-left:58.333333333333336%}
.col-nd-offset-6{margin-left:50%}
.col-nd-offset-5{margin-left:41.66666666666667%}
.col-nd-offset-4{margin-left:33.33333333333333%}
.col-nd-offset-3{margin-left:25%}
.col-nd-offset-2{margin-left:16.666666666666664%}
.col-nd-offset-1{margin-left:8.333333333333332%}
.col-nd-offset-0{margin-left:0}
}
input:active,button:focus,button:active,a:focus{outline:none!important}
.role-hide{display:none!important}
.role-show{display:inline-block!important}
#loading{position:fixed;left:50%;top:50%;font-size:120px;color:#09f;z-index:10000;margin-top:-125px;margin-left:-55px;text-shadow:1px -1px 5px #000}
.help-block{display:inline;position:relative;top:6px;margin:0}
.small-btn.disabled{display:none!important}
.small-btn.enabled{display:block!important}
.enabled{display:inline-block!important}
.mt6{margin-top:6px!important}
.mt10{margin-top:10px!important}
.mt20{margin-top:20px!important}
.mb10{margin-bottom:10px!important}
.mb20{margin-bottom:20px!important}
.mr15{margin-right:15px!important}
.mr10{margin-right:10px!important}
.mr20{margin-right:20px!important}
.ml10{margin-left:10px!important}
.pt10{padding-top:10px!important}
.pt20{padding-top:20px!important}
.pb10{padding-bottom:10px!important}
.pb20{padding-bottom:20px!important}
.width200{width:200px!important}
.width400{width:400px!important}
.nomargin{margin:0!important}
.nopadding{padding:0!important}
.mt0{margin-top:0!important}
.readonly{background:#fff!important;cursor:text!important}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{cursor:pointer}
select.form-control{padding:6px 8px}
.re{position:relative!important}
.width40{width:40px!important}
.sider{position:fixed;width:170px;height:100%;background:#0072c5;z-index:1000;top:0;left:0}
.content{padding-left:170px;height:100%}
@media(max-width:720px){.sider{display:none}
.content{padding-left:0}
}
.home-menu{width:35px;height:35px;border-radius:50%;border:2px solid #fff;margin-left:16px;margin-top:16px;margin-bottom:15px;cursor:pointer}
.home-menu i{color:#fff;font-size:21px;margin-left:6px;line-height:30px}
.home-menu a{text-decoration:none;display:block}
.main-name{font-weight:bold;color:#fff;font-size:16px;padding-left:15px;padding-bottom:20px}
.user{color:#fff;font-size:13px;padding-left:15px;padding-bottom:20px;height:50px;line-height:30px}
.user img{margin-right:5px;float:left}
.user-name{display:inline-block;width:70px;overflow:hidden;margin-right:10px}
.user-quit{display:inline-block;vertical-align:top}
.user-quit:hover{color:#47c4ff;text-decoration:underline}

/*.menu li a{color:#fff;font-size:14px;display:block;height:35px;line-height:35px;text-indent:15px;text-decoration:none;}
.menu li a:hover{text-decoration:none;background:#2a8cd3;}
.menu .active a{background:#2a8cd3}
.child-menu{display:none}
.menu>.child-menu{display:block}*/
.menu a{
color:#fff;
font-size:14px;
display:block;
height:35px;
line-height:35px;
text-indent:15px;
text-decoration:none;
}
.menu .menu-parent.acti{
    background:#2a8cd3;
}
.menu .icon-caret-down {
position: relative;
left: -10px;
}
.menu a:hover{text-decoration:none;background:#2a8cd3;}
.menu .menu-child {
padding-left:10px;
padding-right:10px;
padding-top:6px;
display:none;
}
.menu .menu-child.active {
display:block;
}
.menu .menu-child a.active {
    background:#076BB9;
}
.menu .menu-child a {
font-size: 13px;
height: 32px;
line-height: 32px;
}

.set-menu{position:relative;padding-top:30px}
.set-menu:before{position:absolute;height:2px;width:128px;top:10px;left:18px;background:#1382d3;content:''}
.menu-quick{position:relative;padding-top:30px;display:none}
.menu-quick:before{position:absolute;height:2px;width:128px;top:10px;left:18px;background:#1382d3;content:''}
.group-small{float:left;margin-top:7px}
.small-btn{height:27px;width:27px;background:#0292d7;cursor:pointer;float:left;margin-right:8px}
.small-btn i{line-height:29px;color:#fff;font-size:18px;margin-left:6px}
.content-title{padding:10px 0;clear:both;margin:0!important}
.content-title .title{font-size:30px;color:#808080;float:left;margin-right:25px}
.fontblue{color:#09f!important}
.fontgray{color:#999!important}
.fontred{color:red!important}
.edit-btn{background:#dcdbd8;color:#9494ab;padding:5px 15px;border:0;border-radius:0}
.edit-btn.active{background:#ff9801;color:#fff;box-shadow:none;-webki-box-shadow:none}
.breadcrumb-con{padding-top:14px}
.breadcrumb{width:434px;height:25px;background:#fff;border:1px solid #e4e4e4;padding:0;border-radius:0;float:left;margin-bottom:0}
.breadcrumb>li{margin-left:17px}
.breadcrumb>li:first-child{margin-left:10px}
.breadcrumb>li:first-child i{font-size:15px;text-decoration:none}
.breadcrumb>li+li:before{content:'';border:4px solid transparent;border-left-color:#9494ab;display:inline-block}
.breadcrumb a{font-size:13px}
.search-con{float:left;width:222px;height:25px;margin-left:4px;font-size:12px;position:relative;border:1px solid #e4e4e4}
.search-con .text{border:0;height:23px;padding-left:10px;padding-right:10px;width:178px;border-right:0}
.search-con .button{width:43px;height:23px;background:#fff;border:0;position:absolute;right:0;top:0;border-left:1px solid #e4e4e4}
.search-con .button i{color:#0072c5;font-size:15px}
.edit-select{display:inline-block;height:30px}
.edit-select .btn-default{border:0;background:#dcdbd8;color:#9494ab;padding:5px 15px;border-radius:0}
.filter{float:right;margin-top:6px;margin-right:20px}
.btn-green{background:#84c851;color:#fff}
.btn-green:disabled{background:#84c851}
.btn-green:hover,.btn-green:focus{background:#84c851;color:#fff}
.form-text{padding:3px 6px;width:139px;height:27px;border:1px solid #b8b8b8;border-radius:0;background-color:#fff;-webkit-box-shadow:none;box-shadow:none;color:#333;vertical-align:middle;font-weight:normal;font-size:12px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.form-text:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.form-sel{width:139px;padding:3px 6px;border:1px solid #b8b8b8;border-radius:0;background-color:#fff;-webkit-box-shadow:none;box-shadow:none;color:#333;vertical-align:middle;font-weight:normal;font-size:12px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.ui-jqgrid-htable .ui-th-ltr:last-child{border-right:0!important}
.btn-sm{padding:5px 15px}
.group-title{padding-left:13px;border-left:9px solid #ff7000;color:#333;font-weight:bold;margin:30px 10px 20px 0;font-size:16px;letter-spacing:1px}
.form-horizontal .form-group{margin-left:0;margin-right:0}
.form-group label{font-weight:normal;padding-left:0;padding-right:0}
.form-group .checkbox-inline{padding-left: 20px;margin-bottom: 0;font-weight: normal;}
.form-group {font-weight:normal;padding-left:0;padding-right:0}
.form-group .required{padding-left:2px;color:red;font-size:20px;position:absolute;right:2px;top:-4px;font-weight:bold}
.main-dialog{position:fixed;width:100%;height:100%;z-index:1030;display:none;top:0;bottom:0;left:0;right:0;background:rgba(255,255,255,0)}
.event-manage{padding-bottom:20px;overflow:auto;width:500px;position:absolute;height:100%;top:0;right:0;border-left:1px solid #eee;box-shadow:-6px 0 24px #cfd6da;background:#fff;-moz-transform:translate(510px,0);-o-transform:translate(510px,0);transform:translate(510px,0);-webkit-transform:translate(510px,0);-ms-transform:translate(510px,0);-webkit-transition:-webkit-transform .3s ease-out;-moz-transition:-moz-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}
.dialog-open{-moz-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);-webkit-transform:translate(0,0);-ms-transform:translate(0,0)}
.event-manage .title{font-size:30px;color:#999;float:left}
.event-manage .col-xs-12{padding-left:30px;padding-right:30px}
.event-icon{border-radius:50%;color:#0292d7;border:2px solid #0292d7;width:35px;height:35px;float:left;margin-right:20px;margin-top:2px;cursor:pointer}
.event-icon i{font-size:20px;margin-left:7px;line-height:33px}
.event-top{padding-top:20px;border-bottom:1px solid #c9c9c9;padding-bottom:20px}
@media(max-width:1400px){.event-top{padding-top:10px;padding-bottom:5px}
}
.main-dialog .btn-group{float:right;margin-top:3px}
.green{background:#9dd46f!important}
.create-new{padding:10px 0;text-align:center;border:1px dashed #e4e4e4;margin-top:17px;color:#c9c9c9;cursor:pointer}
.has-success .help-block{display:none}
.mybtn .btn{padding:8px 35px;font-size:12px}
.mybtn .btn-success{margin-right:10px}
.mybtn .btn-default{color:#0292d7;border-color:#0292d7;margin-right:10px}
.mybtn .btn-default:hover{color:#fff;background:#0292d7}
.btn-warning{background:#ff9801}
.tree-parent{cursor:pointer;display:inline-block;padding:2px 30px 2px 10px}
.tree-parent.active{background:#09f;color:#fff}
.tree-parent .icon-caret-right{margin-right:5px}
.tree-hide .icon-caret-right{margin-left:-3px}
.tree-item{display:none}
.tree-hide .icon-caret-right:before{content:"\f0d7"}
.tree-parent .icon-folder-open-alt{margin-right:10px}
.tree-hide .icon-folder-open-alt:before{content:"\f114"}
.tree-group{padding-bottom:20px;position:relative}
.tree-group:before{content:'';border-right:1px dashed #999;height:calc(100% - 57px);position:absolute;top:22px;left:12px}
.tree-child{color:#09f;margin-left:26px;padding:6px 10px;font-size:13px;cursor:pointer;margin-top:10px;position:relative;display:inline-block;margin-right:50px}
.tree-child:before{content:'';border-top:1px dashed #999;width:10px;position:absolute;top:14px;left:-11px}
.tree-child:hover{background:#09f;color:#fff}
.tree-child:hover i{color:#fff}
.tree-child i{color:#000;margin-right:8px}
.create-form{padding-left:20px}
.dropdown-menu{min-width:120px}
.more-check{position:absolute;top:30px;text-align:center;background:#ffffe9;font-size:12px;height:22px;line-height:22px;border-bottom:1px solid #e3e6eb}
.check-all{color:#428bca;cursor:pointer}
.check-all:hover{text-decoration:underline}
.movecon{display:inline-block;position:relative}
.movecontent{width:348px;position:absolute;left:-10px;top:33px;padding:10px;background:#fff;z-index:100;border:1px solid #d7d7d7;border-radius:5px;display:none;opacity:0}
.plancon{position:absolute;top:34px;left:0;margin-left:15px;background:#fff;border:1px solid #ccc;z-index:90;width:380px;display:none;padding-left:10px}
.movecontent label{padding-left:0;padding-right:0}
.movecontent .control-label,.movecontent .checkbox-inline{color:#333}
.movecontent .form-control{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);border:1px solid #ccc}
.movecontent .form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}
.progress-globar{width:400px;position:absolute;z-index:100000;left:50%;top:50%;margin-left:-200px;margin-top:-20px}
.has-error .select2-choices{border-color:red!important}
.quick-search{background:orange;font-style:normal}
.time {
background: #fff !important;
}
@media screen and (min-width:768px){.modal-dialog{width:760px}
}
.bootbox .modal-dialog{width:600px}
.begincon{position:relative}
.begincon:before{content:"-";position:absolute;right:-2px;top:5px}
.arrow-left{position:relative}
.arrow-left:before{position:absolute;left:204px;top:5px;content:"-"}
.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0;font-size:2em}
.btn-padding{padding:8px 35px;font-size:12px}
.btn-blue{color:#09f;background:#fff;border-color:#09f}
.btn-blue:hover{color:#fff;background:#09f}
.btn-gray{color:#333;background:#f3f3f3;border-color:#ccc}
.btn-gray:hover{border-color:#adadad}
.bold{font-weight:bold!important}
@media(max-width:1600px) {
    .ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
    height: 34px!important;
    }
    .ui-jqgrid .ui-jqgrid-htable th div {
    padding-top:8px;
    }
    .ui-jqgrid tr.ui-row-ltr td {
    padding: 6px 8px;
    font-size: 13px;
    }
    .ui-jqgrid td input[type=checkbox]{
    position:relative;
    top:2px;
    }
    .ui-jqgrid .ui-jqgrid-pager {
    height:34px;
    }
    .ui-jqgrid .ui-pager-control {
    height: 34px;
    }
    #pager_center {
    position: relative;
    top: 2px;
    }
}
#jqgrid-column{
    display: inline-block;
    position: relative;
}
.jqgrid-column-con{
    position: absolute;
    background: #FFFFFF;
    z-index: 111;
    left: -235px;
    top: 29px;
    width: 300px;
    height: 400px;
    overflow: auto;
    border:1px solid #cccccc;
    border-radius: 5px;
    padding: 0 10px;
    display: none;
}
#jqgrid-column.active .jqgrid-column-con{
    display: block;
}
.jqgrid-column-ck{
    padding-top: 10px;
}
.jqgrid-column-item{
    padding-left: 5px;
}
.jqgrid-column-title{
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}
.jqgrid-column-item input{
    position: relative;
    top: 2px;
}
.jqgrid-column-item label{
    font-weight: normal;
}