.file-sel {
    display:none;
}
.file-sel .checkbox-inline{
    position:relative;
    top:4px;
}
.push-op-con{
    position: absolute;
    right: -60px;
    top: 3px;
    font-size: 20px;
    color:#09f;
}
.push-op-con .icon-minus{
    color:red;
}
.push-op-con i{
    cursor: pointer;
    margin-right: 4px;
}