.act{position:relative}
.act:before{width:1px;height:100%;border-right:1px solid #bcbcbc;content:'';right:-20px;top:0;position:absolute}
.tag{padding-top:30px}
.tag-item{color:#0073c6;display:block;float:left;padding:5px 25px;border:1px solid #09f;margin-right:7px;margin-bottom:10px;cursor:pointer;-moz-transition:all ease .2s;-o-transition:all ease .2s;-webkit-transition:all ease .2s;transition:all ease .2s}
.tag-item:hover{background:#4096d4;color:#fff}
.normal-act{padding-top:40px}
.tag-spi{padding-bottom:28px}
.tag-spi:last-child {
padding-bottom:100px;
}
.msg_center{padding-top:30px;padding-left:20px}
.tag.disabled .tag-item{
    border-color:#c9c9c9;
    color:#c9c9c9;
    cursor:default;
}
.tag.disabled .tag-item:hover{
    background:none;
    color:#c9c9c9;
}
.tag-item.active {
    background:#4096d4;color:#fff
}
.edit-group {
padding-top:17px;
}
.form-event-input {
width:300px;
float:left;
margin-right:5px;
}
.checkbox {
margin-left:20px;
}
.checkbox input {
margin-right:10px;
}
.input-group-addon {
    background:none;
}
.event-textarea {
    resize:none;
    height:155px !important;
}
.event-ck {
font-size:16px;
}
.event-ck .checkbox {
margin-bottom:20px;
}
.checkbox {
position:relative;
}
.checkbox:hover .icon-pencil {
display:block;
}
.icon-pencil {
position:absolute;
right:10px;
top:5px;
color:#09f;
cursor:pointer;
display:none;
}
.checkbox.edit {
    margin-left:0;
    padding-left:0;
}
.edit-con {
display:none;
}